{% extends "zinnia/skeleton.html" %}
{% load zinnia_tags i18n %}
{% load staticfiles %}

{% block meta-keywords %}{% get_tags as entry_tags %}{{ entry_tags|join:", "}}{% endblock meta-keywords %}

{% block meta %}
    <meta name="generator" content="Zinnia {{ ZINNIA_VERSION }}" />
{% endblock meta %}

{% block link %}
    <link rel="index" href="{% url 'zinnia_entry_archive_index' %}" />
    <link rel="author" type="text/plain" href="{% url 'zinnia_humans' %}" />
    <link rel="EditURI" type="application/rsd+xml" href="{% url 'zinnia_rsd' %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url 'zinnia_wlwmanifest' %}" />
    <link rel="search" type="application/opensearchdescription+xml" title="Zinnia's Blog" href="{% url 'zinnia_opensearch' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest entries" %}" href="{% url 'zinnia_entry_latest_feed' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest discussions" %}" href="{% url 'zinnia_discussion_latest_feed' %}" />
<!-- 		<link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{% static "css/fira.css" %}">
		<!-- Site CSS -->
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
 		<!-- Latest jQuery -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<!-- The jQuery Custom CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "jquery-ui/jquery-ui-1.10.3.custom.min.css" %}">
		<!-- Tooltips -->
		<script src="{% static "js/tooltipsy.min.js" %}" type="text/javascript"></script>
		<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}" type="text/javascript"></script/>
		<script src="{% static "js/jquery.blockui.min.js" %}" type="text/javascript"></script/>
		<script type="text/javascript" src="{% static "js/main.js" %}"></script>
		<!-- The legendary FontAwesome -->
		<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
		<!-- LEAVE FOR FAVICON -->
		<link rel="shortcut icon" href="favicon.ico"/>
		<!--[if lt IE 9]>
		<script src="assets/js/respond.min.js"></script>
		<script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="{% static "js/dropit.js" %}" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.menu').dropit();
        $('.submenu').dropit();
			});
		</script>
	    {% get_archives_entries "zinnia/tags/entries_archives_link.html" %}
{% endblock link %}

{% block breadcrumbs %}
  {% zinnia_breadcrumbs %}
{% endblock breadcrumbs %}

{% block sidebar %}
<div id="widget-welcome" class="widget">
  <h3>{% trans "Welcome!" %}</h3>
  <p>
    {% trans "This simple theme is the default appearance of Zinnia." %}
  </p>
  <p>
    {% trans "Don't hesitate to override the template <strong>zinnia/base.html</strong> to start <a href='http://docs.django-blog-zinnia.com/en/latest/how-to/customize_look_and_feel.html'>customizing your Weblog</a>." %}
  </p>
</div>
<div id="widget-categories" class="widget">
  <h3>{% trans "Categories" %}</h3>
  {% get_categories %}
</div>
<div id="widget-authors" class="widget">
  <h3>{% trans "Authors" %}</h3>
  {% get_authors %}
</div>
<div id="widget-calendar" class="widget">
  <h3>{% trans "Calendar" %}</h3>
  {% get_calendar_entries %}
</div>
<div id="widget-tags" class="widget">
  <h3>{% trans "Tags" %}</h3>
  {% get_tag_cloud %}
</div>
<div id="widget-recents" class="widget">
  <h3>{% trans "Recent entries" %}</h3>
  {% get_recent_entries %}
</div>
<div id="widget-comments" class="widget">
  <h3>{% trans "Recent comments" %}</h3>
  {% get_recent_comments %}
</div>
<div id="widget-linkbacks" class="widget">
  <h3>{% trans "Recent linkbacks" %}</h3>
  {% get_recent_linkbacks %}
</div>
<div id="widget-randoms" class="widget">
  <h3>{% trans "Random entries" %}</h3>
  {% get_random_entries %}
</div>
<div id="widget-populars" class="widget">
  <h3>{% trans "Popular entries" %}</h3>
  {% get_popular_entries %}
</div>
<div id="widget-archives" class="widget">
  <h3>{% trans "Archives" %}</h3>
  {% get_archives_entries_tree %}
</div>
{% if user.is_authenticated %}
<div id="widget-tools" class="widget">
  <h3>{% trans "Tools" %}</h3>
  <ul>
    {% if perms.zinnia %}
    <li>
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li>
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
    <li>
      <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
        {% trans "Log out" %}
      </a>
    </li>
  </ul>
</div>
{% endif %}
{% endblock sidebar %}
