{% extends "zinnia/base.html" %}
{% load i18n comments zinnia_tags %}
{% load cycle from future %}
{% load staticfiles %}
{% load zinnia_tags %}
{% block title %}{{ object.title }}{% endblock title %}

{% block meta-description %}{{ object.excerpt|safe }}{% endblock meta-description %}

{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% else %}{{ block.super }}{% endif %}{% endblock meta-keywords %}

{% block link %}
  {{ block.super }}
  {% with previous_entry=object.previous_entry %}{% if previous_entry %}
  <link rel="prev" title="{{ previous_entry.title }}" href="{{ previous_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with next_entry=object.next_entry %}{% if next_entry %}
  <link rel="next" title="{{ next_entry.title }}" href="{{ next_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  <link rel="shortlink" href="{{ object.short_url }}" />
  <link rel="canonical" href="{{ object.get_absolute_url }}" />
  {% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_discussion_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_comment_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_pingback_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_trackback_feed' year month day object.slug %}" />
  {% endwith %}
  <link rel="stylesheet" type="text/css" href="{% static "css/blog-post.css" %}" />
{% endblock link %}

{% block body-class %}entry entry-{{ object.pk }}{% if object.featured %} featured{% endif %} year-{{ object.creation_date|date:"Y" }} month-{{ object.creation_date|date:"m" }} week-{{ object.creation_date|date:"W" }} day-{{ object.creation_date|date:"d" }}{% endblock body-class %}

{% block content %}
<div id="side-panel">
    <section>
        <h1>Popular Posts</h1>
        {% get_popular_entries 4 %}
    </section>
    <section>
        <h1>Recent Posts</h1>
        {% get_recent_entries 6 %}
    </section>
    <section>
        <h1>Archive</h1>
        {% get_archives_entries %}
    </section>
</div>

<div class="entry-container">
<div class="blog_entry">
{% block entry-content %}
  {% include object.content_template with object_content=object.html_content %}
{% endblock entry-content %}
</div>

{% block entry-comments %}
<div id="comments">
  <h3>{% trans "Comments" %}</h3>
  {% if object.comment_count %}
  {% with comment_list=object.comments %}
  {% block comments-loop %}
  <ol id="comment-list">
    {% for comment in comment_list %}
    <li id="comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
        class="comment vcard {% cycle box1,box2 %}{% if comment.user %} authenticated-comment{% if comment.user.is_staff %} staff-comment{% endif %}{% if comment.user.is_superuser %} superuser-comment{% endif %}{% endif %}">
        <div class="comment-author">
            <p class="comment-info">
            {% if comment.url %}
            <a href="{{ comment.url }}" rel="external nofollow"
                   class="fn url">{{ comment.name }}</a>
            {% else %}
            {{ comment.name }}  
            {% endif %}
            </p>
            <p class="comment-published" title="{{ comment.submit_date|date:"c" }}">
              {{ comment.submit_date}}
            </p>
        </div>
        <div class="comment-body">
            {% block comment-info %}
        <!-- <a href="#comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
           id="c{{ comment.pk }}" class="anchor-link"
           title="{% trans "Direct link to this comment" %}"><i class="fa fa-link"></i></a> -->
        </p>
        {% endblock comment-info %}
        {% block comment-content %}
        {{ comment.comment|linebreaks }}
        {% endblock comment-content %}
        </div>
    </li>
    {% endfor %}
  </ol>
  {% endblock comments-loop %}
  {% endwith %}
    {% if not object.comments_are_open %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if object.comments_are_open %}
  <p>{% trans "No comments yet." %}</p>
    {% else %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
</div>
{% endblock entry-comments %}
{% if user.is_authenticated %}
{% block entry-comments-form %}
{% if object.comments_are_open %}
  {% render_comment_form for object %}
{% endif %}
{% endblock entry-comments-form %}
{% endif %}
</div>
<script>
  $(document).ready(function(){
     //replacing any unloaded images with the macrovue logo
    $('.entry-image img').attr('src', "/" + $('.entry-image img').attr('src'));
    $('.entry-image img').attr('onError', "this.onerror=null;this.src='{% static "images/macrovue2/macrovue-logo.png" %}';");
    $('textarea').attr("cols", 98);
  });
</script>
{% endblock content %}

{% block admin-tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url 'admin:zinnia_entry_change' object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock admin-tools %}
