{% load i18n staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Macrovue Blog - {% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <!-- <link rel="shortcut icon" href="{% static "zinnia/img/favicon.ico" %}" /> -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/css/ie.css" %}" />
    <![endif]-->
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>
		<header>
			<div id="top_nav">
				<div class="container">
					<div id="top_logo">
						<a href="/"><img src="{% static "images/macrovue2/logo.png" %}" /></a>
					</div>
										<div id="top_menu">
						<a href="/existing_vues"><div class="top_menu_item">
							Existing Vues
						</div></a>
						{% if user.is_authenticated %}
						<ul class="menu">
							<li>
								<a href="#"><div class="top_menu_item">My Account  <i class="fa fa-angle-down"></i></div></a>
								<ul class="submenu-dropdown">
        	            			<a href="/favourites"><li>Favourites</li></a>
        	            			<a href="/customvues"><li>Custom Vues</li></a>
        	            			<a href="/portfolio"><li>Portfolio</li></a>
        	            			<a href="/orders"><li>Orders</li></a>
            	      			</ul>
                  			</li>
                  		</ul>
                  		{% endif %}
						<a href="/faq"><div class="top_menu_item">
							FAQ
						</div></a>
						<a href="/about"><div class="top_menu_item"> 
							About
						</div></a>
						<a href="/blog"><div class="top_menu_item no_margin">
							Blog
						</div></a>
					</div>
					{% if user.is_authenticated %}
					<ul class="menu float_left">
						<li>
							<a href="#">
								<div id="top_user_interface">
									{% if user.is_authenticated %}{{ user.username }}{% else %}Register{% endif %}
									<div class="float_right">
										<i class="fa fa-angle-down"></i>
									</div>
								</div>
							</a>
							<ul id="dropdown_options">
								<!--<a href="#"><li>Visit your profile</li></a>
								<a href="#"><li>Buy Some Stocks</li></a>
								<a href="#"><li>Sell Some Stocks</li></a>
								<a href="#"><li>Build a custom vue</li></a>-->
								<a href="/logout"><li>Logout</li></a>
							</ul>
						</li>
					</ul>
					{% else %}
					<a href="/login/">
						<div class="float_right sign-up">
							Login
						</div>
					</a>
					<a href="/register/">
						<div class="float_right sign-up">
							Sign Up
						</div>
					</a>					
					{% endif %}
				</div>
				</div>
			</div>
		</header>
		<nav class="display_none">
			<div id="second_nav">
				<div class="container">
					{% if breadcrumbs.1 %}
						<a href="{% if breadcrumbs.url3 %}{% url breadcrumbs.url1 %}{% endif %}">{{ breadcrumbs.1 }}</a> &nbsp; 
					{% endif %}
					{% if breadcrumbs.2 %}
						> &nbsp; <a href="{% if breadcrumbs.url3 %}{% url breadcrumbs.url2 %}{% endif %}">{{ breadcrumbs.2 }}</a>
					{% endif %}
					{% if breadcrumbs.3 %}
						> &nbsp; <a href="{% if breadcrumbs.url3 %}{% url breadcrumbs.url3 %}{% endif %}">{{ breadcrumbs.3 }}</a>
					{% endif %}
					{% if breadcrumbs.4 %}
						> &nbsp; <a href="{% if breadcrumbs.url3 %}{% url breadcrumbs.url4 %}{% endif %}">{{ breadcrumbs.4 }}</a>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="clear"></div>
  <body class="zinnia {% block theme-class %}default{% endblock theme-class %} {% block color-class %}blue{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}">
    <div class="container">
      {% block slider %}{% endblock slider %}
      <div id="content" class="hfeed">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
		<div id="footer">
			<div class="container" id="footer_content"><h1>Macrovue Information</h1>
				Macrovue Pty Ltd (ABN 98 600 022 679) is a Corporate Authorised Representative (No. XXXXXXX) of InvestSMART Financial Services Pty Ltd (AFS License No. 226435). Please read our Financial Services Guide which provides you information about us and services we provide. 
				The information on this site has been prepared without taking account of the objectives, financial situation or needs of any particular individual. For this reason, any individual should, before acting on the information on this site, consider the appropriateness of the information, having regard to the individual’s objectives, financial situation and needs and, if necessary, seek appropriate professional advice. 
				Macrovue Pty Ltd is not authorised to carry on business in any other jurisdiction. Accordingly, the information contained in this Internet site is directed to and available for Australian residents only.
				Investment in securities involves risk. Share prices rise and fall. The payment of dividends and the return of capital are not guaranteed. Past performance is not indicative of future performance. 
			<br /><br />&copy; MacroVue 2014
			</div>
		</div>
</html>
