{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MacroVue - About {% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "js/faq.js" %}"></script>
<link rel="stylesheet" href="{% static "css/about.css" %}">
<div id="inside-container">
<h1 class="title">About Macrovue</h1>
	<div id="content-container">
		<div class="category">
		<h2> About Us </h2>
			<p> Macrovue is Australia’s only online platform dedicated to providing access to professional theme-based investing while giving you the flexibility and control to manage your holdings. We specialize in turning good ideas into great investments through baskets of 10 stocks called Vues to give you exposure to domestic and global themese in areas as diverse as luxury goods, the silver haired economy and the agricultural boom. </p>
		</div>
		<div class="category">
			<h2> Philosophy </h2>
			<p>There are many great ideas out there. Finding discerning ways to turn those ideas into equity investments can be daunting when you have reams of data and information to wade through and limited access to professional analysis.</p>

			<p>At MacroVue, we do the hard work for you. Our team is dedicated to constructing portfolios of 10 stocks each, called Vues that give you exposure to a selected theme, while also allowing you the flexibility and control to fine-tune as you go.</p>

			<p>We are targeted at do-it-yourself investors looking for a new way to invest a portion of their savings and engaged in deciding how best to allocate their money. Our users demand the transparency and control that much of the superannuation industry doesn't provide.</p>

			<p>We are committed to looking beyond our own beautiful shores to opportunities in the world’s largest and most-dynamic economies so that you don’t miss investing in the next chapter of China’s growth story or the U.S. recovery or the internet of things that’s reshaping our lives. The majority of our Vues are blind to borders, looking only for the stocks that best express a theme. So, not only are you diversified through multiple companies, you are also geographically diversified.</p>

			<p>Come join us and explore a new world of ideas.</p>
		</div>
		<div class="category">
			<h2>How it works</h2>
			<article>
				<h3>Investing Made Easy </h3>
				<p>Click on one of our Vues to access the 10 stocks our team has selected as best representing an investment theme based on a proprietary Macrovue scoring system. If you like what you see, just click to buy. You can also customize a Vue by adding or deleting names and altering the weighting of stocks.</p>
			</article>
			<article>
				<h3>Global Investing</h3>
				<p>Australia’s $1.8 trillion in superannuation funds is the fourth-largest in the world, making the domestic market too small and concentrated to provide true depth and diversification. Our Vues cover companies listed here as well as those listed in the U.S. and through Europe enabling you to invest in best-of-breed firms that operate in the world’s largest and most-diverse economies.</p> 
			</article>
			<article>
				<h3>Affordable Access</h3>
				<p>Invest in each 10-stock Vue for a flat $XX domestic or $XXX international in commission and fees upto $10,000 and then XX bps after that– including trading and currency costs. The more you buy of each Vue up to a limit of $10,000, the less you pay per share.</p>
			</article>
			<article>
				<h3>Transparency</h3>
				<p>Unlike managed funds, you can view the composition and performance of your Vues, as well as add or exit positions in real-time. We will fill each order immediately if the relevant market is open or as soon as it opens.</p>
			</article>
			<article>
				<h3>Top notch analytics and performance tracking</h3>
				<p>As you look to create your own Vues, you get access to our proprietary stock signals that can assist you in picking stokcs. Our proprieatary alpha signal
					is a blend of various factors such as Valuation, Growth and Quality among others. We also make it straightforward to track the performance of each of your Vues individually as well as a collective portfolio pooling up all your Vues</p>
			</article>			
		</div>
		<div class="category">
			<h2>Management Team</h2>
			<h3 class="name">Sid Sahgal</h3>
			<p>Sid is the founder and Managing Director of Macrovue. With a career that has spanned finance, technology and finally a stint in academia, he was keen to use his varied experience to help Australian investors better manage their finances and access global ideas and markets. With that in mind, Macrovue was born.</p>
			<p>Sid has several years of academic and markets experience in finance. His PhD research thesis looked at the impact of news on stock prices and optimal composition of the board of directors. He was lecturer for an intermediate level class in financial portfolio management where students were taught about the risk and return characteristics of stocks, options, and bonds.  Prior to academia, Sid worked as a quantitative analyst at Bank of America Merrill Lynch in New York. Sid has a PhD in finance from UNSW (Sydney) and a Masters in Computational Finance from Carnegie Mellon (New York). </p>
			<p> Prior to working in finance, Sid was obsessed with airplanes and he designed and built navigation software for business jets at Honeywell in Phoenix, Arizona. 
			Before Macrovue came along, he enjoyed snowboarding and sailing.  </p>
			<br>
			<h3 class="name">Dev Sinha</h3>
			<p>Dev is the co-founder of Macrovue. He is primarily responsible for equity research and product development, and also works with Sid on strategy and 
				marketing initiatives for Macrovue</p>
			<p>Dev has several years of financial markets experience, across developed and developing markets. He started his career as a Quantitative Analyst researching
			U.S. large cap equities at Putname investments in Boston. There he was responsible for researching alpha signals for enhancing multi factor stock selection
			models as well as portfolio construction and risk management. More recently, Dev was a research analyst covering Indonesian equities at Bank of America Merrill Lynch
			based out of Singapore</p>
			<p>Dev has an MBA from The Fuqua School of Business, Duke University and a Masters degree in Financial Engineering. Outside of Macrovue, he enjoys running, playing squash and watching movies. 				
		</div>
		<div class="category">
			<h2> Contact Us</h2>
			<p>You can get in touch with Sid at <a href="mailto:sid@macrovue.com.au?Subject=Macrovue">sid@macrovue.com.au</a> or Dev at <a href="mailto:dev@macrovue.com.au?Subject=Macrovue">dev@macrovue.com.au</a>
			<br>
			<p>We are located in sunny Sydney at:<br>
				Level 1, 19-31 Pitt Street<br>
				Sydney, NSW 2000<br></p>
		</div>
	</div>
	<div id="sidebar">
		<h2>About</h2>
		<ul class="sidebar-list">
			<!-- Python loop or headings here -->
			<li><i class="fa fa-chevron-right"></i>About Us</li>
			<li><i class="fa fa-chevron-right"></i>Philosophy</li>
			<li><i class="fa fa-chevron-right"></i>How It Works</li>
			<li><i class="fa fa-chevron-right"></i>Management Team</li>
			<li><i class="fa fa-chevron-right"></i>Contact Us</li>
		</ul>
	</div>
</div>
<div class="clear"></div>
{% endblock %}