{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MacroVue - FAQ{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "js/faq.js" %}"></script>
<link rel="stylesheet" href="{% static "css/faq.css" %}"></script>
<div id="inside-container">
	<h1 class="title">Frequently Asked Questions</h1><br />
	<div id="content-container">
		{% for category in faq_categories %}
			<div class="category">
			<h2>{{ category.name }}</h2>
			{% for questionid in faq_catquestions %}
				{% if questionid.category_id == category.id %}
					{% for question in faq_questions %}
						{% if question.id == questionid.question_id %}
							<div class="question">
								<a href="#" class="faq_question" id="{{ category.id }}{{ question.id }}">
									<span id="icon{{ category.id }}{{ question.id }}" class="question_arrow"><i class="fa fa-angle-down"></i></span>
									 &nbsp;{{ question }}
								</a><br />
								<div id="faq{{ category.id }}{{ question.id }}" class="display_none faq_answer">
									{{ question.answer }}
								</div>
							</div>
							<div class="clear"></div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
			<br />
		</div>
		{% endfor %}
	</div> 
	<div id="sidebar">
		<h2>Categories</h2>
		<ul class="sidebar-list">
		{% for category in faq_categories %}
			<li><i class="fa fa-chevron-right"></i>{{ category.name }}</li>
		{% endfor %}
		</ul>
	</div>
</div>
<div class="clear"></div>
{% endblock %}
<br />