{% extends "landing-base.html" %}
{% load staticfiles %}
{% block title %}MacroVue{% endblock %}

{% block content %}
<link href="{% static "css/chris.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/riad.css" %}" rel="stylesheet" type="text/css"/>

<div class="mt_20"></div>
<br />
    <!-- Image Slider -->
<div id="slider-bg">
	<div class="cycle-slideshow" data-cycle-timeout="1000" data-cycle-slides="> div">
		<div id="slider-1" class="slider-div">
			<div class="slider-content">
				<img src="{% static "images/logo-slideshow.png" %}" style="height: 93px !important; width: 415px !important; display: block !important; margin: auto; padding-bottom: 30px;"/> <h1 style="font-weight: 300;">Invest in a world of ideas</h1>
			</div>
		</div>
    {% for stock in stocks_info %}
      <div id="{{ stock.id }}" class="slider-div">
          <div class="slider-side">
            <h3 style="font-weight: 300">{{ stock.one_month_return }}%</h3>
            <h4>1 month return</h4>
            <a href="{{ stock.url }}#stocks">
              <div class="join-button">
                  <i class="fa fa-list"></i> &nbsp; View Stocks
              </div>
            </a>
          </div>
          <div class="slide-description">
            {{ stock.short_descr }}
          </div>
      </div>
    {% endfor %}
    </div>
</div>
<div class="clear"></div>

<!-- RIAD -->
<div id="macrovue_tour">
	<div class="container">
		SEE WHY WE’RE THE BEST<br />
		<div id="tour_button">
			MACROVUE TOUR
		</div>
	</div>
</div>

<!-- RIAD -->
<div id="macrovue_tag" class="display_none">
	<div id="macrovue_tag_text">
	Invest in a World<br />of Ideas
	</div>
</div>

<hr>
<br />
<!-- CHRIS -->
<div id="macrovue_vues">
  <div class="container">
    <header class="div-title">Vues</header>
    <div id="category-boxes">
      <div class="category-box category-unselected">
        High Growth
      </div>
      <div class="category-box category-unselected">
        Income
      </div>
      <div class="category-box category-unselected">
        Investors
      </div>
      <div class="category-box category-unselected">
        Technology
      </div>
      <div class="category-box category-selected">
        Macroeconomic
      </div>
      <div class="clear"></div>
    </div>
    <div id="vue-boxes">
 
      <div id="vue-1" class="vue-box">
        <img id="vue-1-img" src="{% static "images/macrovue2/australian-high.jpg"%}"/>
        <span class="caption fade-caption">
          <h3 class="vue-header">
            Australian High
          </h3>
          <p class="vue-description">
            Lorem Ipsum
          </p>
        </span>
      </div>
 
 
      <div id="vue-2" class="vue-box">
        <img id="vue-2-img" src="{% static "images/macrovue2/internet-of-things.jpg"%}"/>
        <span class="caption fade-caption">
          <h3 class="vue-header">
            Internet Of Things
          </h3>
          <p class="vue-description">
            Lorem Ipsum
          </p>
        </span>
      </div>
 
      <div id="vue-3" class="vue-box">
        <img id="vue-3-img" src="{% static "images/macrovue2/dream-up-small.png"%}"/>
        <span class="caption fade-caption">
          <h3 class="vue-header">
            Dream Up
          </h3>
          <p class="vue-description">
            Lorem Ipsum
          </p>
        </span>
      </div>     
 
      <div id="vue-4" class="vue-box">
        <img id="vue-4-img" src="{% static "images/macrovue2/largecap.jpg"%}"/>
        <span class="caption fade-caption">
          <h3 class="vue-header">
            Large Capital
          </h3>
          <p class="vue-description">
            Lorem Ipsum
          </p>
        </span>
      </div>       
 
      <div id="vue-5" class="vue-box">
        <img id="vue-5-img" src="{% static "images/macrovue2/small_cap.jpg"%}"/>
        <span class="caption fade-caption">
          <h3 class="vue-header">
            Small Business
          </h3>
          <p class="vue-description">
            Lorem Ipsum
          </p>
        </span>
      </div>
 
      <div id="vue-6" class="vue-box">
        <img id="vue-6-img" src="{% static "images/macrovue2/small_cap2.jpg"%}"/>
        <span class="caption fade-caption">
          <h3 class="vue-header">
            Small Capital
          </h3>
          <p class="vue-description">
            Lorem Ipsum
          </p>
        </span>
      </div>
 
      <div id="vue-7" class="vue-box">
        <img id="vue-7-img" src="{% static "images/macrovue2/techstars.jpg"%}"/>
        <span class="caption fade-caption">
          <h3 class="vue-header">
            Tech Stars
          </h3>
          <p class="vue-description">
            Lorem Ipsum
          </p>
        </span>
      </div>
 
      <div id="vue-8" class="vue-box">
        <img id="vue-8-img" src="{% static "images/macrovue2/feed-world-small.png"%}"/>
        <span class="caption fade-caption">
          <h3 class="vue-header">
            Feed the World
          </h3>
          <p class="vue-description">
            Lorem Ipsum
          </p>
        </span>
      </div>
      <div class="clear"></div>
    </div>
 
    <div id="load-more">
      <header>Load More</header>
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
</div>
 
<div id="client-speak">
  <header>
      <div class="left-line"><hr></div>
      <div class="div-title">Client Speak</div>
      <div class="right-line"><hr></div>
      <div class="clear"></div>
  </header>
  <div id="client-quote">
      <div id="left-quote">
        <img src="{% static "images/left-quote.png"%}" />        
      </div>
      <div id="quote-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus turpis pellentesque purus dictum, id vestibulum velit sagittis.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus turpis pellentesque purus dictum, id vestibulum velit sagittis.
      </div>
      <div id="right-quote">
        <img src="{% static "images/right-quote.png"%}" />
      </div>
  </div><div class="clear"></div> 
</div>
<div class="clear"></div>

<!-- CHRIS -->
<div id="connect">
	<div class="container">
		<h1>CONNECT WITH US</h1>
		<h2>Follow us on these Social Networks</h2>
		<div class="social_button">
			<i class="fa fa-twitter"></i>
		</div>
		<div class="social_button">
			<i class="fa fa-facebook"></i>
		</div>
		<div class="social_button">
			<i class="fa fa-google-plus"></i>
		</div>
	</div>
</div>

<hr>
<!-- RECENT -->
<div id="recent_activity">
	<div class="container">
		<div class="column1 column">
			<h3>Recent Tweets</h3>
			<div class="recent_post">
				<div class="post_header">
					<i class="fa fa-twitter"></i> <span class="strong_text">@macrovue</span>, 13th Oct 2014
				</div>
				<div class="post_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ultrices massa. Phasellus laoreet consequat lorem, vel  egestas tortor ultricies eu.
				</div>
			</div>
			<div class="recent_post">
				<div class="post_header">
					<i class="fa fa-twitter"></i> <span class="strong_text">@macrovue</span>, 11th Oct 2014
				</div>
				<div class="post_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ultrices massa. Phasellus laoreet consequat lorem, vel  egestas tortor ultricies eu.
				</div>
			</div>
			<div class="recent_post">
				<div class="post_header">
					<i class="fa fa-twitter"></i> <span class="strong_text">@macrovue</span>, 6th Oct 2014
				</div>
				<div class="post_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ultrices massa. Phasellus laoreet consequat lorem, vel  egestas tortor ultricies eu.
				</div>
			</div>
			
		</div>
		<div class="column2 column">
			<h3>Recent Posts</h3>
			<div class="recent_post">
				<div class="post_header">
					<strong>Sid Sahgal</strong>, 6th Oct 2014
				</div>
				<div class="post_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ultrices massa. Phasellus laoreet consequat lorem, vel  egestas tortor ultricies eu.
				</div>
			</div>
			<div class="recent_post">
				<div class="post_header">
					<strong>Sid Sahgal</strong>, 6th Oct 2014
				</div>
				<div class="post_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ultrices massa. Phasellus laoreet consequat lorem, vel  egestas tortor ultricies eu.
				</div>
			</div>			
		</div>
		<div class="column3 column">
			<h3>Recent Vues</h3>
			
		</div>
	</div>
</div>

<div class="clear"></div>
<script src="{% static "js/jquery.cycle2.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.cycle2.tile.min.js" %}" type="text/javascript"></script>
{% endblock %}
