{% extends "base.html" %}
{% load staticfiles %}
{% block title %}MacroVue{% endblock %}

{% block content %}
<link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css"/>

<div class="mt_20"></div>
<br />
    <!-- Image Slider -->
<div id="slider-bg">
	<div class="cycle-slideshow" data-cycle-timeout="1000" data-cycle-slides="> div">
		<div id="slider-1" class="slider-div">
			<div class="slider-content">
				<img src="{% static "images/logo-slideshow.png" %}" style="height: 93px !important; width: 415px !important; display: block !important; margin: auto; padding-bottom: 30px;"/> <h1 style="font-weight: 300;">Invest in a world of ideas</h1>
			</div>
		</div>

    {% for stock in stocks_info %}
      <div id="{{ stock.id }}" class="slider-div">
          <div class="slider-side">
            <h3 style="font-weight: 300">{{ stock.one_month_return }}%</h3>
            <h4>1 month return</h4>
            <a href="{{ stock.url }}#stocks">
              <div class="join-button">
                  <i class="fa fa-list"></i> &nbsp; View Stocks
              </div>
            </a>
          </div>
          <div class="slide-description">
            {{ stock.short_descr }}
          </div>
      </div>
    {% endfor %}


    </div>
</div>
<div class="clear"></div>
<div class="tag-line">
	Australia's only online broker that helps you invest in ideas &nbsp; <a href="/register"><div class="display_inline tag-line-button">Join Macrovue</div></a>
</div>
    <div class="feature_row">
    	<div class="container">
	    	<div class="feature_left_img">
    			<img src="{% static "images/invest.png" %}" />
    		</div>
			<div class="feature_right_content">
				<h1>Expert Analysis</h1>
				We research companies from around the world to build professional portfolios of 10 stocks each that translate an idea into an investment.
    			<br /><a href="#">Find Vues now >> </a>
    		</div>
    	</div>
    </div><div class="clear"></div>
    <div class="feature_row feature_row_style2">
    	<div class="container">
	    	<div class="feature_left_img">
    			<img src="{% static "images/invest.png" %}" />
    		</div>
			<div class="feature_right_content">
				<h1>Affordable and Easy</h1>
				Get diversification across a Vue with 10 stocks from around the world at the click of a button for a flat $149 transaction fee. 
    			<br /><a href="#">Comparse Prices >> </a>
    		</div>
    	</div>
    </div><div class="clear"></div>
	<div class="feature_row">
    	<div class="container">
	    	<div class="feature_left_img">
    			<img src="{% static "images/track.png" %}" />
    		</div>
			<div class="feature_right_content">
				<h1>Control and Track</h1>
				Edit portfolios, buy and sell Vues and track your transactions and returns 
    			<br /><a href="#">Check out a sample vue >> </a>
    		</div>
    	</div>
    </div>
    	<div class="feature_row feature_row_style2">
    	<div class="container">
	    	<div class="feature_left_img">
    			<img src="{% static "images/share.png" %}" />
    		</div>
			<div class="feature_right_content">
				<h1>Community Investing</h1>
				Create and share your own Vues or use those formed by others in the community; join a discussion and rank Vues.
            	<br /><a href="#">Visit the forums now >> </a>
    		</div>
    	</div>
    </div>
    <div class="clear"></div>
  <script src="{% static "js/jquery.cycle2.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/jquery.cycle2.tile.min.js" %}" type="text/javascript"></script>
{% endblock %}
