{% extends "base.html" %}
{% load staticfiles %}
{% load currency %}
{% block title %}Macrovue{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/buy.css"%}" />
<script type="text/javascript" src="{%static "js/buy.js"%}"></script>
<div id="content">
<span id='vue-id' style="display: none;">{{vue.id}}</span>
<h1 class="title">Invest into {{vue.name}}</h1>
	<div id="top-info">
		<div id="amount-block">
			<h2>Amount to invest: </h2>
			<div class="input boxes">
				<div id="inputs">
					<div id="dollar">$</div>
					<input type="number" id="amount-invest" min="100"/>
				</div>
				<div class="clear"></div>
				<div class="allocate-terms">
					Minimum amount: $<span id="min-amount"></span>
				</div>
				<div class="clear"></div>
				<div class="input-error"><i class="fa fa-warning"></i><span id="error-text">Please enter numbers only!</span></div>
				<div class="buttons">
					<div id="allocate-btn">Allocate</div>
					<div id="reset-table">Reset Values</div>
				</div>
			</div>
		</div>
		<div id="account-block">
			<h2>Account Balance</h2>
			<div id="account-balance">
				$<span id="balance-info">
				{% if user_info.cash_value > 0 %}
					{{user_info.cash_value}}
				{% else %}
					0.00
				{% endif %}
				</span>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="table-container">
		<table id="stocks-table" cellspacing="0px">
			<thead>
				<th class="table-ticker">Stock Ticker</th>
				<th class="table-name">Name</th>
				<th class="table-price">Price</th>
				<th class="table-allocate">Amount Allocated</th>
				<th class="table-quantity">Quantity</th>
				<th class="table-invested">Amount Invested</th>
			</thead>
			<tbody>
				{% for s in stocks %}
				{% for sf in stockFinancials %}
				{% if sf.stock_id == s.id %}
					<span id='stock-id{{forloop.counter}}' style="display: none;">{{s.id}}</span>
					<tr> 
						<td><span class='stock-ticket'>{{s.ticker}}</span></td>
						<td>{{s.name}}</td>
						<td>$<span class="stock-price">{{sf.closing_price|floatformat:2}}</span></td>
						<td><div class="inputs">
							<div class="input-pre">$</div>
							<input class="table-amount" type="number" min="0" />
							</div>
						</td>
						<td><span class="quantity"></span></td>
						<td><span class="inv-amount-dollar">$</span><span class="invested-amount"></span></td>
					</tr>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</tbody>
		</table>
		<table id="totals-table"s>
			<tr>
				<td>Total Invested:</td>
				<td id="total-invested-cell"></td>
			</tr>
			<tr>
				<td>Fees:</td>
				<td><div class="fees-container">$<span id="fees-cell">149.95</span></div></td>
			</tr>
			<tr>
				<td>Total:</td>
				<td id="total-cell"></td>
			</tr>
		</table>
	</div>
	<div id="confirm-btn">Confirm</div>
	<div class="clear"></div>
</div>
{% endblock %}
