{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MacroVue - Create A New Vue{% endblock %}

{% block content %}
<link href="{% static "css/create_vue.css" %}" rel="stylesheet" type="text/css"/>
<script src="{% static "js/create_vue.js" %}" type="text/javascript"></script>

<div class="container">
{% if messages %}{% for message in messages %}
<div class="error_message"> - {{ message }}</div>
{% endfor %}{% endif %}

<div id="create_vue_container">
	<h1 class="title">Create a New Vue</h1>
	<form action="save_new_vue" method="POST" id="create_vue">
		<h2 class="form-title"><span id="step-1-text" >Step 1</span> > <span id="step-2-text"> Step 2 </span> > <span id="step-3-text">Step 3</span> > <span id="step-4-text">Share</span></h2>
		<div id="form-1">
			{% csrf_token %}
			<input type="hidden" id="stock_list" name="stocklist" value="" />
			<div class="input-items">
				Vue Name:<span class="required-asterix">*</span> <input type="text" title="Name of the Vue" class="stocks_container_content" name="vue_name" id="vue_name" required/><br />
				<div class="clear"></div>
			</div>
			<div title="Image to be displayed with your Vue" class="input-items">
				Vue Image: <input type="file" name="vue_image" id="vue_image">
				<div class="clear"></div>
			</div>
			<div class="input-items">
				Short Description:<span class="required-asterix">*</span>  <input type="text" title="Short description of your Vue" class="stocks_container_content" name="vue_short_description" id="vue_short_description" maxlength="250" required/><br />
				<div class="clear"></div>
			</div>
			<div class="input-items">
				Select the country:<span class="required-asterix">*</span>  <select title="Country of your Vue" name="vue_country" id="vue_country">
					<option value="global" > Global </option>
					<option value="au">AUS</option>
					<option value="us">US</option>
				</select>
				<!-- <input type="text" class="stocks_container_content" placeholder="Enter Vue Country" name="vue_country" id="vue_country" required/><br /> -->
				<div class="clear"></div>
			</div>
			<div title="Check this if you want your Vue to be seen only by you" class="input-items">
				Private Vue?
				<label class="privacy_label"><input type="checkbox" id="vue_privacy" name="vue_privacy" class="mt_10" /> Private Vue</label>
				<div class="clear"></div>
			</div>
			<div class="button-container">
				<div class="next-btn">Next</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="form-2">			
			<div class="input-items">
				Description: <textarea title="Long description of your Vue" id="vue_description" name="vue_description" required></textarea><br />
				<div class="clear"></div>
			</div>
			<div class="button-container">
				<div class="prev-btn">Previous</div>
				<div class="next-btn">Next</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="form-3">
			<h2 class="form-title">Step 2: Select Stocks for your Vue</h2>
			<div title="Stock Index" id="index_select"><select id="vue_index" name="vue_index">
				{% for index in indexes %}
					<option value="{{ index.id }}">{{ index.name }}</option>
				{% endfor %}
			</select></div>
			<br />
			<input type="text" class="stock_search float_left" placeholder="Search For Stocks" name="vue_stock" id="vue_stock" />
			<div class="float_left" id="stock_search_submit">Search</div><div class="clear"></div>
			<div id="stock_options"></div>
			<div class="button-container">
				<div class="prev-btn">Previous</div>
				<div class="next-btn">Next</div>
				<div class="clear"></div>
			</div>	
			<div class="clear"></div>
		</div>
		<div id="form-4">
			<div class="clear"></div>
			<div class="vue-confirm-preview">
			<h1> Preview Your Vue: </h1>
			<div id="vue-confirm-container" class="white_to_lightgray">
				<div class="preview_image float_left">
					<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
				</div>
				<div class="float_left">
					<h2 class="vue_preview_name float_left">Vue Name </h2>
					<div class="clear"></div>
					<span class="preview_label">Country: </span><p class="vue_preview_country">Country</p>
				</div>
				<div class="clear"></div>
				<em><p class="vue_preview_desc">Description</p></em>
				<table id="stock_preview">
					<thead>
						<th>
							Stocks
						</th>
					</thead>
					<tbody class="stocks_preview_list">
					<tr>
					</tr>
					</tbody>
				</table>
			</div>

			</div>
			<button class="green_button green_haze float_right" id="create-submit" type="submit">Create Vue</button>
			<div class="button-container" st>
				<div class="prev-btn final-btn">Go Back</div>				
			</div>
			<div class="clear"></div>
		</div>
	</form>
</div>
<div id="stocks_chosen_container">
	<div class="display_none"><h1>Vue Information</h1>
	<div class="accepting_input_instocks" id="vue_name_instocks">Enter Vue Name</div>
	<div class="accepting_input_instocks" id="vue_short_description_instocks">Enter Short Description</div>
	<div class="accepting_input_instocks" id="vue_country_instocks">Enter Vue Country</div>
	<div class="accepting_input_instocks" id="vue_index_instocks">Enter Vue Index</div></div>
	<h1 class="mt_20 title">Vue Preview</h1>
	<br />
	<h2 class="preview vue_preview_name">Vue Name </h2> 
	<hr>
	<p class="preview vue_preview_country">Country</p>
	<p class="preview vue_preview_short">Description</p>
	<table class="stocks_list_table" cellspacing="0px">
		<thead>
			<th>
				Stock Name
			</th>
			<th>
				Remove
			</th>
		</thead>
		<tbody class="stocks_list">
			<tr>
			</tr>
		</tbody>
	</table>
	<div id="stocks_chosen" class="mt_10"></div>
</div>
<div class="clear"></div>
</div>
{% endblock %}
