{% extends "base.html" %}
{% load mathfilters %}
{% load humanize %}
{% load staticfiles %}

{% block title %}MacroVue{% endblock %}

{% load app_filters %}
{% load comments %}

{% block content %}

<script src="{% static "js/jquery.nstSlider.js" %}" type="text/javascript"></script>
<script src="{% static "js/single_vues.js" %}" type="text/javascript"></script>
<link href="{% static "css/single_vue.css" %}" rel="stylesheet" type="text/css"/>

<input type="hidden" id="vue_index_hidden" value="{{ vue.index_id }}" />

<div id="single_vue">
	<div id="single_vue_basics">
		<div id="single_vue_basics_logo">
			<img src="{{ vue.background }}" />
		</div>
		<div id="single_vue_basics_info">
			<div class="single_vue_basics_name">
				Customising {{ vue.name }}
			</div>
			<div class="single_vue_basics_desc">
				{{ vue.description }}
			</div>
			<div class="small_size_text mt_10"><span class="strong_text">Created:</span> {{ vue.created_at }} 
			by {{ user }} | <span class="strong_text">Last Update</span>: {{ vue.updated_at }}</div>
			<div class="fb-like float_left" data-href="http://127.0.0.1:8000/vues/Tech-Stars/" data-width="100" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
			<div class="float_left twitter-button"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div>
		</div>
		<div id="single_vue_basics_actions">
			<div id="single_vue_basics_buttons">
				<form action="/save_custom/" method="POST">
					{% csrf_token %}
					<input type="hidden" id="vue_id" name="vueid" value="{{ vue.id }}" />
					<input type="hidden" id="stock_list" name="stocklist" value="" />
					<div class="mb_10">Public Vue <input type="checkbox" name="privacy" /></div>
					<button type="button" class="green_button green_haze"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Buy Now</button>
					<button type="submit" class="green_button green_haze no_margin"><i class="fa fa-bars"></i>&nbsp;&nbsp;Save Vue</button>
				</form>
			</div>
			<div id="bars" class="display_none">
				<div class="bar bar_up">
					<div class="float_left">
						Your Rating
					</div>
					<div class="float_left circles">
						<div class="circle circle_full">
						</div>
						<div class="circle circle_full">
						</div>
						<div class="circle circle_full">
						</div>
						<div class="circle circle_full">
						</div>
						<div class="circle circle_empty">
						</div>
					</div>
					<div class="float_right">
						4/5
					</div>
					<div class="float_left">Private: <input type="radio" name="privacy" value="off" /></div>
				</div>
				<div class="bar bar_down">
					All Ratings
				</div>
			</div>
		</div>
	</div>
	<div id="tab3_content" class="tab_content">
		<div class="container">
			<button type="button" id="open-modal2" data-toggle="modal" data-target="#add_stocks" class="green_button green_haze"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Add Stocks</button>
			<div class="clear"></div><table class="stocks_list_table" cellspacing="0px">
				<thead>
					<tr>
						<th style="width: 10%">
							Ticker
						</th>
						<th style="width: 18%">
							Name
						</th>
						<th style="width: 13%" class="display_none">
							Country
						</th>
						<th style="width: 9%">
							Price
						</th>
						<th style="width: 8%">
							Dividend Yield
						</th>
						<th style="width: 8%">
							P/E Ratio
						</th>
						<th style="width: 8%">
							Market Cap (Millions)
						</th>
						<th style="width: 8%">
							Risk
						</th>
						<th style="width: 7%">
							One Mo Return
						</th>
						<th style="width: 7%">
							One Yr Return
						</th>
						<th class="del" style="width: 6%">
							Delete
						</th>
					</tr>
				</thead>
			   <tbody class="stocks_list">
				 {% for stock in stocks %}
				 {% for stockinfo in stockdata %}
					{% if stockinfo.stock_id == stock.id %}
				   {% if forloop.counter|divisibleby:2 %}
					<tr class="gray-background" id="row{{ stock.id }}">
				   {% else %}
				   <tr id="row{{stock.id}}">
				   {% endif %}
					<td style="width: 10%; text-align: left !important">
					   {{ stock.ticker }}
					 </td>
					 <td style="width: 18%; text-align: left" class="stock_bubble" id="{{ stock.name }}" title="{{ stock.ticker }}">
					   <a href="https://au.finance.yahoo.com/q?p=finance.yahoo.com&s={{ stock.ticker }}">{{ stock.name }}</a>
					 </td>
					 <td style="width: 13%" class="display_none">
					   {{ stock.country }}
					 </td>
					 <td style="width: 9%">
					   {{ stockinfo.closing_price|floatformat:2 }}
					 </td>
					 <td style="width: 8%; text-algin: right">
					   {{ stockinfo.dividend_yield|floatformat:2 }}%
					 </td>
					 <td style="width: 8%">
					   {{ stockinfo.price_equity_ratio|floatformat:2 }}
					 </td>
					 <td style="width: 8%">
					   {{ stockinfo.mkt_cap|intcomma }}
					 </td>
					 <td style="width: 8%">
					   {{ stockinfo.one_year_vol|floatformat:2 }}%
					 </td>
					 <td style="width: 7%">
					   {{ stockinfo.one_mo_return|floatformat:2 }}%
					 </td>
					 <td style="width: 7%">
					   {{ stockinfo.one_yr_return|floatformat:2 }}%
					 </td>
					 <td style="width: 6%">
						<a href="#" class="delete_stock" id="delete{{ stock.id }}"><i class="fa fa-times"></i></a>
					 </td>
					 <!--<td style="width: 7%">
					   <a target="_blank" href="https://au.finance.yahoo.com/q?p=finance.yahoo.com&s={{ stock.ticker }}">{{ stock.ticker }}</a>
					 </td>-->
				   </tr>
				 {% endif %}
				 {% endfor %}
				 {% endfor %}
			   </tbody>
			 </table>
		</div>
	</div>
</div>

<!-- Customise Modal -->
<div class="modal fade" id="add_stocks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="display_none rec_stocks">
				<h2>Recommended Stocks</h2>
			</div>
			<div class="add_stocks" style="width: 96%">
				<h2 class="float_left">Add Stocks</h2><div class="float_right close_modal"><span aria-hidden="true" data-dismiss="modal">x</span></div>
				<div class="clear"></div>
				<input type="text" class="enter_ticker" id="enter_ticker" name="stock_ticker_add" placeholder="Enter a stock ticker" />
				<div type="button" id="search_stocks" class="float_left green_button green_haze add_stock_button"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</div>
				<div class="clear"></div>
				<div id="stock_add_display_modal">
				</div>
				<div class="clear"></div><br />
			</div>
		</div>
	</div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1470398013178518&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% endblock %}