{% extends "base.html" %}
{% load staticfiles %} 

{% block title %}Macrovue - My Favourites{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/favourites.css" %}" />
<div id="content">
	<header>
		<h1>My Favourites</h1>
	</header>
	<div id="table-container">
		<table id="favourites-table">
			<thead>
				<th id="vue-name">Vue Name</th>
				<th id="vue-date">Date Added</th>
				<th id="month-return">1 MO Return</th>
				<th id="vue-growth">Growth</th>
				<th id="vue-valuations">Valuation</th>
				<th id="vue-risk">Risk</th>
				<th id="vue-remove">Remove</th>
			</thead>
			<tbody>
				{% for favourite in favourites_info %}
				{% for favouritefin in favourites_fin %}
				{% if favourite.id == favouritefin.vue.id and favourite.updated_at <= favouritefin.date %}
				<tr>
					<td>
						<div class="vue-image"><img src="{{ favourite.background }}" /></div>
						<h3 class="vue-name"><a href="/vues/{{favourite.name}}">{{ favourite.name }}</a></h3>
						<p class="created">Created by: <a href="#">{{ favourite.user }}</a></p> 
					</td>
					<td>{{ favourite.created_at }}</td>
					<td>
					{% if favouritefin.one_mo_return > 0 %}
							<span class="up"><i class="fa fa-arrow-up"></i>
					{% elif favouritefin.one_mo_return == 0 %}
							<span class="neutral"> --
					{% else %}
							<span class="down"><i class="fa fa-arrow-down"></i>
					{% endif %}
						{{ favouritefin.one_mo_return }}%
						</span>
					</td>
					<td><img src="{% static "images/macrovue2/growth-" %}{{favouritefin.growth}}.png" /></td>
					<td><img src="{% static "images/macrovue2/valuation-" %}{{favouritefin.valuation}}.png" /></td>
					<td><img src="{% static "images/macrovue2/risk-" %}{{favouritefin.volatility}}.png" /></td>
					<td><a href="/vues/removefavourite/{{ favourite.name }}"><i class="fa fa-times"></i></a></td>
				</tr>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}