{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Macrovue - Funding{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/funding.css"%}" />
<script src="{% static "js/funding.js"%}"></script>
<div id="content">
	<h1 class="title">Funding</h1>
	<!-- Tabs -->
	<div id="tabs">
		<div class="tab active-tab first-tab green_haze white_to_gray" id="tab1">
			Deposits
		</div>
		<div class="tab white_to_gray final-tab" id="tab2">
			Withdrawal
		</div>
	</div>

	<!-- content -->
	<div id="tab1-content" class="tab-content">
		<div class="container">
			<h1>Deposits</h1>
		</div>
	</div>
	<div id="tab2-content" class="tab-content">
		<div class="container">
			<h1>Withdrawals</h1>
		</div>
	</div>
</div>
{% endblock %}