{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MacroVue - Existing Vues{% endblock %}

{% block content %}
<script src="{% static "js/existing_vues.js" %}" type="text/javascript"></script>
<link href="{% static "css/existing_vues.css" %}" rel="stylesheet" type="text/css"/>

<div class="container">
{% if messages %}{% for message in messages %}
<div class="error_message"> - {{ message }}</div>
{% endfor %}{% endif %}

<input type="hidden" id="page_num" value="0" />
<input type="hidden" id="page_amt" value="{{ page_amt }}" />
<input type="hidden" id="has_more" value="true" />
<input type="hidden" id="vue_count" value="{{ vues.count }}" />

	<div class="float_left" id="menu_left">
		<!--<h1>Existing Vues</h1>-->
		<label id="{{display_name_one}}" class="special"><input type="checkbox" name="categoryoption" id="checkbox0" class="search_existing_vues" checked /> All Vues</label>

		{% for parent in parents %}
			<h1 class="menu-left-heading green_haze">{{ parent.name }}</h1>
			{% for category in categories %}
				{% if category.parent_id == parent.id %}
					<label><input type="checkbox" name="categoryoption" id="checkbox{{ category.id }}" class="search_existing_vues" /> {{ category.name }}</label><br />
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
	<div class="float_left" id="vues_content">
		<div id="existing_vue_navigation">
			<div class="navigation_search">
				<input type="text" placeholder="Search for stocks or vues" /><i class="fa fa-search"></i>
			</div>
			<div class="navigation_categorise">
				<span class="categorise_vues">Sort By: </span>
				<select class="categorise_vues">
					<option value="grid">Grid</option>
					<option value="list">List</option>
				</select>
			</div>
			<div class="navigation_pages">
				Pages: <span id="pages_output"></span>
				<div class="float_right display_none"><a href="create_vue">Create a vue</a></div>
			</div>
		</div><div class="clear"></div>
		
		<div id="all_vues">
			{% for vue in vues %}
				{% if forloop.counter <= page_amt %}
					{% for financial in vue_financial_data %}
						{% if financial.vue_id == vue.id %}
							<a href="/vues/{{ vue.name.split|join:"-" }}">
								<div class="existing_vue_default" id="vue{{ vue.id }}">
									<div class="existing_vue_info" style="background: url('{{vue.background}}');">
										<div class="existing_vue_title">
											{{ vue.name }}
										</div>
									</div>
									<div class="existing_vue_return">
										<span class="float_left" style="font-size: 16px; padding-top: 18px; padding-left: 10px;">One month return </span>
										{% if financial.one_mo_return > 0 %}
											<span class="green_return float_right" style="padding-right: 10px;"><i class="fa fa-arrow-up" style="font-size: 26px;"></i>
										{% elif financial.one_mo_return < 0 %}
											<span class="red_return float_right" style="padding-right: 10px;"><i class="fa fa-arrow-down" style="font-size: 26px;"></i>
										{% else %}
											<span class="neutral_return float_right" style="padding-right: 10px;"> -- 
										{% endif %}
										{{ financial.one_mo_return }}%</span>
									</div>
								</div>
							</a>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>
		<div id="dynamic_vues"></div>
		<div id="message_touser"></div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$(".special").hide();
	});
</script>
{% endblock %}
