{% extends "base.html" %}
{% load staticfiles %} 

{% block title %}Macrovue - My Vues{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/favourites.css" %}" />
<div id="content">
	<header>
		<h1 class="title">Custom Vues</h1>
	</header>
	<div id="table-container">
		<table id="favourites-table">
			<thead>
				<th id="vue-name">Vue Name</th>
				<th id="vue-date">Date Created</th>
				<th id="month-return">1 MO Return</th>
				<th id="vue-growth">Growth</th>
				<th id="vue-valuations">Valuations</th>
				<th id="vue-risk">Risk</th>
			</thead>
			<tbody>
				{% for custom in custom_vues %}
				{% for fin in custom_fin %}
				{% if custom.id == fin.vue_id and custom.updated_at <= fin.date %}
				<tr>
					<td style="text-align: left">
						<div class="vue-image"><img src="{{ custom.background }}" /></div>
						<div style="margin-left: 80px !important"><a href="/vues/{{ custom.name.split|join:"-" }}/customise">{{ custom.name }}</a><br />
						Created by: <a href="#">{{ custom.user }}</a></div>
						<td>{{ custom.created_at }}</td>
						<td>{% if fin.one_mo_return > 0 %}<span class="up"><i class="fa fa-arrow-up"></i>{% elif fin.one_mo_return == 0 %}<span class="neutral">-- {% else %}<span class="down"><i class="fa fa-arrow-down"></i>{%endif%} {{ fin.one_mo_return }}%</span></td>
						<td><img src="{% static "images/macrovue2/growth-" %}{{ fin.growth }}.png" /></td>
						<td><img src="{% static "images/macrovue2/valuation-" %}{{ fin.valuation }}.png" /></td>
						<td><img src="{% static "images/macrovue2/risk-" %}{{ fin.volatility }}.png" /></td>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}