{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Macrovue - Orders{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/orders.css"%}" />
<script src="{% static "js/orders.js" %}" type="text/javascript"></script>
<div id="content">
	<h1 class="title">Orders</h1>

	<!-- Tabs -->
	<div id="tabs">
		<div class="tab active-tab first-tab green_haze white_to_gray" id="tab1">
			Pending
		</div>
		<div class="tab white_to_gray final-tab" id="tab2">
			Complete
		</div>
	</div>

	<!-- Tab content --> 
	<div id="tab1-content" class="tab-content">
		<div class="container">
			{% if complete_orders %}
			{% else %}
			<div class="novals">
			{% endif %}
			<div class="table-container">
			<table class="table" cellspacing="0px"> 
				<thead>
					<th class="table-vue">vue name</th>
					<th class="table-stock">stock name</th>
					<th class="table-price">price</th>
					<th class="table-quantity">quantity</th>
					<th class="table-date">last updated</th>
					<th class="table-status">status</th>
				</thead>
				{% if pending_orders %}
				<tbody id="pending-body">
						{% for item in pending_orders %}
						{% for single_order in order_list %}
						{% if single_order.id == item.order_id %}
						{% for vue in vues_info %}
						{% if vue.id == single_order.vue_id %}
						{% for stock in stocks_info %}
						{% if single_order.stock_id == stock.id %}
							<tr>
								<td>{{vue.name}}</td>
								<td>{{stock.name}}</td>
								<td>${{single_order.price}}</td>
								<td>{{item.num_remaining}}</td>
								<td>{{item.date_updated|date:"Y-m-d, H:i"}}</td>
								<td>{{item.order_status}}</td>
							</tr>
						{% endif %}
						{% endfor %}
						{% endif %}
						{% endfor %}
						{% endif %}
						{% endfor %}
						{% endfor %}
				</tbody>
			</table>
			{% else %}
			</table>
			<div class="no-values">
				<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
				<h1>You don't have any <span class="no-value-em">Pending Orders</span></h1>
			</div>
			{% endif %}
			{% if pending_orders %}
			{% else %}
				</div>
			{% endif %}
			</div>
		</div>
	</div>

	<!-- Tab 2 --> 
	<div id="tab2-content" class="tab-content">
		<div class="container">
			{% if complete_orders %}
			{% else %}
			<div class="novals">
			{% endif %}
			<div class="table-container">
				<table class="table" cellspacing="0px"> 
					<thead>
						<th class="table-vue">vue name</th>
						<th class="table-stock">stock name</th>
						<th class="table-price">price</th>
						<th class="table-quantity">quantity</th>
						<th class="table-date">completion time</th>
					</thead>
					{% if complete_orders %}
					<tbody id="completed-body">
						{% for item in complete_orders %}
						{% for single_order in order_list %}
						{% if single_order.id == item.order_id %}
						{% for vue in vues_info %}
						{% if vue.id == single_order.vue_id %}
						{% for stock in stocks_info %}
						{% if single_order.stock_id == stock.id %}
							<tr>
								<td>{{vue.name}}</td>
								<td>{{stock.name}}</td>
								<td>${{item.last_fill_price}}</td>
								<td>{{item.num_filled}}</td>
								<td>{{item.date_updated|date:"Y-m-d, H:i"}}</td>
							</tr>
						{% endif %}
						{% endfor %}
						{% endif %}
						{% endfor %}
						{% endif %}
						{% endfor %}
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				</table>
				<div class="no-values">
					<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
					<h1>You don't have any <span class="no-value-em">Complete Orders</span></h1>
				</div>
				{% endif %}
				{% if complete_orders %}
				{% else %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
