{% extends "base.html" %}
{% load staticfiles %}
{% load currency %}
{% load multiply_nums %}
{% load num_range %}

{% block title %}Macrovue - Portfolio{% endblock %}
{% block content %}
<script type="text/javascript" src="http://code.highcharts.com/stock/highstock.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/portfolio.css"%}" />
<script src="{% static "js/portfolio-chart.js" %}" type="text/javascript"></script>
<script src="{% static "js/portfolio.js"%}"></script>
<div id="content">
<h1 class="title"> Portfolio Value </h1>
<div class="clear"></div>
<div id="update-date">
	Last Updated: 
	{% if portfolio_value %}
	{{portfolio_value.date}}
	{% else %}
	{{date_today}}
	{% endif %}
</div>
<div class="value-boxes">
	<div class="value-box">
		<header>Total Value</header>
		<div class="box-cost">{% if portfolio_value %}
		{{portfolio_value.total_value | currency }}
		{% else %}
		$0.00
		{% endif %}</div>
	</div>
	<div class="value-box">
		<header>Positions</header>
		<div class="box-cost">{% if portfolio_value %}
		{{portfolio_value.position_value | currency }}
		{% else %}
		$0.00
		{% endif %}</div>
	</div>
	<div class="value-box">
		<header>Cash</header>
		<div class="box-cost">{% if portfolio_value %}
		{{portfolio_value.cash_value| currency }}
		{% else %}
		$0.00
		{% endif %}</div>
	</div>
</div>

<div class="display-options">
	<div id="date-buttons">
		<div class="selection-btn" id="wk-btn">1 Wk</div>
		<div class="selection-btn" id="omo-btn">1 Mo</div>
		<div class="selection-btn" id="tmo-btn">3 Mo</div>
		<div class="selection-btn" id="yr-btn">1 Yr</div>
		<div class="selection-btn" id="ytd-btn">YTD</div>
		<div class="selection-btn" id="fin-btn">Financial</div>
		<div class="selection-btn" id="all-btn">All</div>
	</div>
	<div class="disp-value">
		<select id="display-select">
			<option value="1">Dollars</option>
			<option value="2">Percent</option>
		</select>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>

<!--- Chart -->
<div id="chart-container">
	<div class="the_graph">
		<!-- Show the main graph -->
		<div id="chartdollar-all" class="graph"></div>
		<div id="chartdollar-fin" class="graph"></div>
		<div id="chartdollar-ytd" class="graph"></div>
		<div id="chartdollar-yr" class="graph"></div>
		<div id="chartdollar-tmo" class="graph"></div>
		<div id="chartdollar-omo" class="graph"></div>
		<div id="chartdollar-wk" class="graph"></div>
		<div id="chartpercent-all" class="graph"></div>
		<div id="chartpercent-fin" class="graph"></div>
		<div id="chartpercent-ytd" class="graph"></div>
		<div id="chartpercent-yr" class="graph"></div>
		<div id="chartpercent-tmo" class="graph"></div>
		<div id="chartpercent-omo" class="graph"></div>
		<div id="chartpercent-wk" class="graph"></div>
	</div>

</div>
<div class="clear"></div>
<!-- Tabs -->
<div id="tabs">
	<div class="tab active-tab first-tab green_haze white_to_gray" id="tab1">
		Vue Table
	</div>
	<div class="tab white_to_gray final-tab" id="tab2">
		Stock Table
	</div>
</div>
<!-- {{all_data}} -->
<!-- Tab Content --> 
<div id="tab1-content" class="tab-content">
	<div class="container">
		<div id="table-overlay">
			<div class="table-container {% if user_vue_values %} {% else %} table-container-novalue {% endif %}">
				<table class="table-positions {% if user_vue_values %} {% else %} table-novalue {% endif %}">
					<thead>
						<th class="name">Name</th>
						<th class="date">Date-Purchased</th> 
						<th class="quantity">Quantity</th>
						<th class="current-val">Current Value</th>
						<th class="capital-gain">Capital Gain</th>
						<th class="dividends">Dividends</th>
						<th class="currency">Currency</th>
						<th class="total-net">Total Return</th>
						<th class="action">Action</th>
					</thead>
					<tbody>
<!-- 					<tr> 
						<td>Internet of things</td>
						<td>12-09-2014</td>
						<td><span class="dollar">$122.06 </span><span class="percent">2%</span></td>
						<td><span class="dollar">$22.10</span><span class="percent">3%</span></td>
						<td><span class="dollar">$123.45</span><span class="percent">4%</span></td>
						<td>AU</span></td>
						<td><span class="dollar">$9999.99</span><span class="percent">7%</span></td>
						<td><div class="sell-btn">Sell</div></td>
					</tr> -->
					{% if user_vue_values %}
					{% for uvalue in user_vue_values %}
					{% for vues in user_vue_info %}
					{% if uvalue.vue_id == vues.id %}
						<tr>
							<td>{{vues.name}}</td>
							<td>{{uvalue.date_buy}}</td>
							<td>${{uvalue.vue_value}}</td>
							<td>${{uvalue.price_buy}}</td>
							<td>
								{% if uvalue.vue_value_change > 0 %}
									<span class="up"><i class="fa fa-arrow-up"></i> 
								{% else %}
									{% if uvalue.vue_value_change < 0 %}
										<span class="down"><i class="fa fa-arrow-down"></i>
									{% else %}
										--
									{% endif %}
								{% endif %}
								${{uvalue.vue_value_change}}
								{% if uvalue.vue_value_change != 0 %}
									</span>
								{% endif %}
							</td>
							<td><div class="sell-btn">Sell</div></td>
						</tr>
					{% endif %}
					{% endfor %}
					{% endfor %}
					</tbody> 
				</table>	
				{% else %}
					</tbody>
					</table>
					<div class="no-values">
						<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
						<h1>You don't have any <span class="no-value-em">Vues</span></h1>
						<p class="small-text">Purchase Vues to begin trading</p>
						<a href="/existing_vues"><div id="goto-btn">Visit Vues</div></a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div id="tab2-content" class="tab-content">
	<div class="container">
		<div class="table-container {% if user_vue_values %} {% else %} table-container-novalue {% endif %}">
				<table class="table-positions {% if user_vue_values %} {% else %} table-novalue {% endif %}">
				<thead>
						<th class="name">Name</th>
						<th class="date">Date-Purchased</th> 
						<th class="quantity">Quantity</th>
						<th class="current-val">Current Value</th>
						<th class="capital-gain">Capital Gain</th>
						<th class="dividends">Dividends</th>
						<th class="currency">Currency</th>
						<th class="total-net">Total Return</th>
						<th class="action">Action</th>
				</thead>
				<tbody>
				{% num_range 5 as stock_count %}
				stock_list{% if user_stocks_history %}
					{% for item in stock_list %}
					{% for stock in stocks %}
						{% if stock.id == item.0 %}
							<tr>
								<td>{{stock.name}}</td>
								<td>{{item.2}}</td>
								<td>{{item.3}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					{% endfor %}
				</tbody>
				</table>
				{% else %}
					</tbody>
					</table>
					<div class="no-values">
						<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
						<h1>You don't have any <span class="no-value-em">Stocks</span></h1>
						<p class="small-text">Purchase Stocks to begin trading</p>
						<a href="/existing_vues"><div id="goto-btn">Visit Vues</div></a>
					</div>
				{% endif %}
		</div>
	</div>
</div>
</div>
{% endblock %}