{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Macrovue - Portfolio{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/portfolio-allocations.css"%}" />
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static "js/portfolio-allocations.js"%}"></script>
<div id="content">
	<h1 class="title">Portfolio Allocations</h1>

	<!-- Tabs -->
	<div id="tabs">
		<div class="tab active-tab first-tab green_haze white_to_gray" id="tab1">
			Country
		</div>
		<div class="tab white_to_gray final-tab" id="tab2">
			Sector
		</div>
	</div>

	<div id="tab1-content" class="tab-content">
		<div class="container">
			<h2>View by Country</h2>
			<div class="chart-container">
				<div id="country-chart" class="graph"></div>
			</div>
		</div>
	</div>
	<div id="tab2-content" class="tab-content">
		<div class="container">
			<h2>View by Sector</h2>
			<div class="chart-container">
				<div id="sector-chart" class="graph"></div>
			</div>
		</div>
	</div>

</div>
{% endblock %}