{% extends "base.html" %}
{% load mathfilters %}
{% load humanize %}
{% load staticfiles %}

{% block title %}MacroVue{% endblock %}

{% load app_filters %}
{% load comments %}

{% block content %}

<script type="text/javascript" src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="{% static "js/jquery.nstSlider.js" %}" type="text/javascript"></script>
<script src="{% static "js/single_vues.js" %}" type="text/javascript"></script>
<script src="{% static "js/single_vues_chart.js" %}" type="text/javascript"></script>
<link href="{% static "css/single_vue.css" %}" rel="stylesheet" type="text/css"/>

<script type="text/javascript">
var month_names = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
var date = new Date();
var datestring = month_names[date.getMonth()]+". "+date.getDate()+", "+date.getFullYear()+", "+date.getHours()+":"+date.getMinutes();

function bindPostCommentHandler() {
	$('#vue_comment').submit(function() {
		var comment = $('#id_comment').val();
		$.ajax({
			type: "POST",
			data: $('#vue_comment').serialize(),
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
				var content = '<div class="comment_row"><div class="comment_row_avatar"><img src="{{ user.get_profile.get_avatar }}" />'+
				'</div><div class="comment_row_content"><div class="comment_row_name"><a href="{{ STATIC_URL }}/profile/{{ user.username}}">{{ user.username }}</a> <span class="normal_size_text"> | '+ datestring + ' </span></div>'+comment+
				'<div class="clear"></div><div class="comment_row_options display_none">Reply <i class="fa fa-mail-reply"></i> &nbsp; &nbsp; Share <i class="fa fa-share-alt"></i> &nbsp; &nbsp;'+
				' Upvote  <i class="fa fa-angle-up"></i> &nbsp; &nbsp; Downvote <i class="fa fa-angle-down"></i></div></div></div><div class="clear"></div>';
				$('#comments').prepend(content);
			}
		});
		return false;
	});
}
 
$(document).ready(function() {
     bindPostCommentHandler();
});
</script>

<input type="hidden" id="vue_id_hidden" value="{{ vue.id }}" />
<input type="hidden" id="vue_index_hidden" value="{{ vue.index }}" />

<div id="single_vue">
	<div id="single_vue_basics">
		<div id="single_vue_basics_logo">
			<img src="{{ vue.background }}" />
		</div>
		<div id="single_vue_basics_info">
			<div class="single_vue_basics_name">
				<div class="float_left">{{ vue.name }}</div> 
					<div class="float_left add_favourite">
					<a href="../../vues/addfavourite/{{ vue.name }}">
					{% if has_favourited == False %}
						<img src="{% static "images/macrovue2/macrovue-star-un.png" %}" />
					{% else %}
						<img src="{% static "images/macrovue2/macrovue-star.png" %}" />
					{% endif %}
					</a>
					</div>
			</div><div class="clear"></div>
			<div class="single_vue_basics_desc">
				{{ vue.description }}
			</div>
			<div class="small_size_text mt_10"><span class="strong_text">Created:</span> {{ vue.created_at }} 
			by {{ user_creator }} | <span class="strong_text">Last Update</span>: {{ vue.updated_at }} </div>
			<div class="social_links">
				<div class="fb-like float_left" data-href="http://127.0.0.1:8000/vues/Tech-Stars/" data-width="100" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
				<div class="float_left twitter-button"><a href="https://twitter.com/share" class="twitter-share-button" data-via="Macrovue" data-count="none">Tweet</a></div>
				<div class="float_left linked_in"><script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script><script type="IN/Share" data-counter="right"></script></div>
			</div>
		</div>
		<div id="single_vue_basics_actions">
			<div id="single_vue_basics_buttons">
				<a href="/buy/{{vue_name}}"><button type="button" class="green_button green_haze"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Buy Now</button></a>
				{% if user.is_authenticated %}<a href="customise"><button type="button" class="green_button green_haze no_margin"><i class="fa fa-bars"></i>&nbsp;&nbsp;Edit</button></a>{% else %}
				<button type="button" data-toggle="modal" data-target="#edit_notloggedin_modal" class="green_button green_haze no_margin"><i class="fa fa-bars"></i>&nbsp;&nbsp;Edit</button>{% endif %}
			</div>
			<div id="bars">
				<div class="bar bar_up vote">
				{% if user.is_authenticated %}
					<div class="float_left">
						Your Rating
					</div>
					<div class="float_left circles rate">
						{% for i in "12345" %}
							{% if forloop.counter0 < your_rating.rating %}
								<div class="circle circle_full" id="circle{{i}}"><!-- circle_full -->
								</div>
							{% else %}
								<div class="circle circle_empty" id="circle{{i}}"><!-- circle_full -->
								</div>							
							{% endif %}
						{% endfor %}
					</div>
					<div class="float_right" id="your_rating">
							{% if your_rating.rating != 0 %}
								{{your_rating.rating}} /5
							{% else %}
								No Rating
							{% endif %}
					</div>
				{% else %}
				<div style="width: 100%; text-align: center;">
					<a href="/login/">Log in to rate this Vue</a>
				</div>
				{% endif %}
				</div>
				<div class="bar bar_down">
					<div class="float_left">
						Average Rating
					</div>
					<div class="float_left average-circles">
						{% for i in "12345" %}
							{% if forloop.counter0 < avg_final %}
								<div class="circle circle_full" id="circle{{i}}"><!-- circle_full -->
								</div>
							{% else %}
								<div class="circle circle_empty" id="circle{{i}}"><!-- circle_full -->
								</div>							
							{% endif %}
						{% endfor %}
					</div>
				<div class="float_right" id="average_rating">
					{{ avg_final }}/5
				</div><div class="clear"></div>
				</div>				
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="single_vue_tabs">
		<div class="single_vue_tab green_haze white_to_gray single_vue_first_tab single_vue_active_tab" id="tab1">
			Performance
		</div>
		<div class="single_vue_tab white_to_gray" id="tab2">
			Analysis
		</div>
		<div class="single_vue_tab white_to_gray" id="tab3">
			Stocks	
		</div>
		<div class="single_vue_tab white_to_gray single_vue_final_tab" id="tab4">
			{% get_comment_count for vue as comment_count %}
			Discussion <span class="normal_size_text"><i class="fa fa-comments-o"></i> {{ comment_count }}<span>
		</div>
	</div>
	<div class="clear"></div>
	<div id="tab1_content" class="tab_content">
		<div id="single_vue_financials">
			<div class="single_vue_stats">
				<div class="single_vue_stat_value">
					<span class="large_size_text">
					{% if vue_financial_data.dividend_yield < 0 %}
						<i class="fa fa-arrow-down"></i>
					{% else %}
						<i class="fa fa-arrow-up"></i>
					{% endif %}
					</span>{{ vue_financial_data.dividend_yield|stringformat:"d" }}<sup>.{{ dividend_yield_decimal }}%</sup>
				</div>
				<div class="single_vue_stat_header">
					Dividend Yield
				</div>
			</div>
			<div class="single_vue_stats">
				<div class="single_vue_stat_value">
					<span class="large_size_text">
					{% if one_month_return < 0 %}
						<i class="fa fa-arrow-down"></i>
					{% else %}
						<i class="fa fa-arrow-up"></i>
					{% endif %}					
					</span>{{ one_month_return|stringformat:"d" }}<sup>.{{ one_mo_return_decimal }}%</sub>
				</div>
				<div class="single_vue_stat_header">
					One Month Return
				</div>
			</div>
			<div class="single_vue_stats">
				<div class="single_vue_stat_value">
	 				<img src="{% static "images/macrovue2/growth-" %}{{ vue_financial_data.growth }}.png" />
				</div>
				<div class="single_vue_stat_header">
					Growth
				</div>
			</div>
			<div class="single_vue_stats">
				<div class="single_vue_stat_value">
	 				<img src="{% static "images/macrovue2/valuation-" %}{{ vue_financial_data.valuation }}.png" />
				</div>
				<div class="single_vue_stat_header">
					Valuation
				</div>
			</div>
			<div class="single_vue_stats">
				<div class="single_vue_stat_value">
	 				<img src="{% static "images/macrovue2/risk-" %}{{ vue_financial_data.volatility }}.png" />
				</div>
				<div class="single_vue_stat_header">
					Risk
				</div>
	        </div>	
    	</div>
		<div class="clear"></div>
		<div id="stock_add_bar">
			<!-- The title -->
			<div class="stock_add_title">
				Compare Performance
			</div>
			<!-- The added stocks section -->
			<div class="stock_add_box">
				<!-- Current and new stocks -->
				<div class="stock_added_stocks">
					<input type="hidden" id="vue_id" value="{{ vue.id }}" />
					<input type="hidden" id="vue_name" value="{{ vue_name }}" />
					<input type="hidden" id="vue_index" value="{{ vue.index }}-index" />
					
					<label id="{{vue_name}}-line" class="box_label vue_box_label"><input type="checkbox" id="{{vue_name}}-line-box" checked/> {{ vue.name }}</label>
					<label id="{{ vue.index }}-index" class="box_label index_box_label"><input type="checkbox" id="{{ vue.index }}-index-box" checked/> {{ vue.index }}</label>
				</div>
				<!-- Where to add the stocks -->
				<div class="display_none stock_add_stocks_area">
					<!-- Add your stocks here -->
					<div class="float_left stock_add_input">
						<input type="text" placeholder="Enter stock ticker or name" class="gray_to_white" id="add_stock_area" />
					</div>
					<!-- Submit the stocks here -->
					<div class="float_left add_stock_button gray_to_darkgray">
						<i class="fa fa-plus"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="the_graph">
			<!-- Show the main graph -->
			<div id="chartmain" class="graph"></div>
		</div>
	</div>
	<div id="tab2_content" class="display_none tab_content">
		<div class="container">
			<div class="tab_text">
				{{ vue.analysis|safe|escape }}
			</div>
		</div>
	</div>
	<div id="tab3_content" class="display_none tab_content">
		<div class="container">
			{% if user.is_authenticated %}
			<table class="stocks_list_table" cellspacing="0px">
				<thead>
					<tr>
						<th style="width: 10%">
							Ticker
						</th>
						<th style="width: 18%">
							Name
						</th>
						<th style="width: 13%" class="display_none">
							Country
						</th>
						<th style="width: 11%">
							Price
						</th>
						<th style="width: 10%">
							Dividend Yield
						</th>
						<th style="width: 8%">
							P/E Ratio
						</th>
						<th style="width: 8%">
							Market Cap (Millions)
						</th>
						<th style="width: 8%">
							Risk
						</th>
						<th style="width: 7%">
							One Mo Return
						</th>
						<th style="width: 7%">
							One Yr Return
						</th>
					</tr>
				</thead>
			   <tbody class="stocks_list">
				 {% for stock in stocks %}
				 {% for stockinfo in stockdata %}
					{% if stockinfo.stock_id == stock.id %}
				   {% if forloop.counter|divisibleby:2 %}
					<tr style="background: #f9f9f9">
				   {% else %}
				   <tr>
				   {% endif %}
					<td style="width: 10%; text-align: left !important">
					   {{ stock.ticker }}
					 </td>
					 <td style="width: 18%; text-align: left" class="stock_bubble" id="{{ stock.name }}" title="{{ stock.ticker }}">
					   <a href="https://au.finance.yahoo.com/q?p=finance.yahoo.com&s={{ stock.ticker }}">{{ stock.name }}</a>
					 </td>
					 <td style="width: 13%" class="display_none">
					   {{ stock.country }}
					 </td>
					 <td style="width: 11%">
					   {{ stockinfo.closing_price|floatformat:2 }}
					 </td>
					 <td style="width: 10%; text-align: right; padding-right: 4%;">
					   {{ stockinfo.dividend_yield|floatformat:2 }}%
					 </td>
					 <td style="width: 8%">
					   {{ stockinfo.price_equity_ratio|floatformat:2 }}
					 </td>
					 <td style="width: 8%">
					   {{ stockinfo.mkt_cap|intcomma }}
					 </td>
					 <td style="width: 8%">
					   {{ stockinfo.one_year_vol|floatformat:2 }}%
					 </td>
					 <td style="width: 7%">
					   {{ stockinfo.one_mo_return|floatformat:2 }}%
					 </td>
					 <td style="width: 7%">
					   {{ stockinfo.one_yr_return|floatformat:2 }}%
					 </td>
					 <!--<td style="width: 7%">
					   <a target="_blank" href="https://au.finance.yahoo.com/q?p=finance.yahoo.com&s={{ stock.ticker }}">{{ stock.ticker }}</a>
					 </td>-->
				   </tr>
				 {% endif %}
				 {% endfor %}
				 {% endfor %}
			   </tbody>
			 </table>
			 {% else %}
			 	<div class="tab_text stocks_notsignedin"><h1>You must be signed in to view the stocks under {{ vue.name }}.</h1></div>
			 {% endif %}
		</div>
	</div>
	<div id="tab4_content" class="display_none tab_content">
		<div class="tab_text">
				<div class="content_first">
					Please keep all comments on topic. Feel free to ask any questions and we will get back to you as soon as possible. Spam or off-topic comments will be removed. 
				</div>
		</div>


	<div class="comment_form">	
	{% if user.is_authenticated %}
    {% get_comment_form for vue as form %}
    	<form action="{% comment_form_target %}" method="POST" id="vue_comment">
    		{% csrf_token %}
    		<div class="comment_form_avatar">
				<img src="{{ user.get_profile.get_avatar }}" />
			</div>
			<div class="comment_form_textbox">
				<input type="text" placeholder="Your thoughts on this Vue" id="id_comment" name="comment" />
				<div class="comment_form_addcomment" id="id_submit">Post</div>
			</div>
    		<div style="display: none">{{ form.honeypot }}</div>
			{{ form.content_type }}
    		{{ form.object_pk }}
			{{ form.timestamp }}
			{{ form.security_hash }}
			<input type="hidden" name="next" value="{% url 'single_vue' vue.name.split|join:'-' %}" />
	   </form>
	{% else %}
		<p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
	{% endif %}
	</div>
		<div id="comments">
		{% get_comment_list for vue as comment_list %}
		{% for comment in comment_list reversed %}
			<div class="comment_row">
				<div class="comment_row_avatar">
					{{ comment.user.get_profile.avatar_image_url }}
					<img src="{{ comment.user.get_profile.get_avatar }}" />
				</div>
				<div class="comment_row_content">
					<div class="comment_row_name">
						<a href="{{ static_url }}/profile/{{ comment.user.username }}">{{ comment.user.username }}</a> <span class="normal_size_text">| {{ comment.submit_date }}</span>
					</div>
					{{ comment.comment }}
					<div class="clear"></div>
					<div class="comment_row_options display_none">
						Reply <i class="fa fa-mail-reply"></i> &nbsp; &nbsp; Share <i class="fa fa-share-alt"></i> &nbsp; &nbsp; Upvote  <i class="fa fa-angle-up"></i> &nbsp; &nbsp; Downvote <i class="fa fa-angle-down"></i>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		{% endfor %}
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="buynow_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
				<h2 class="float_left">Buy Now Feature Coming Soon</h2><div class="float_right close_modal"><span aria-hidden="true" data-dismiss="modal">x</span></div>
			<div class="clear"></div>
			Sorry, the buy now feature is coming soon! Thanks for your patience as we develop it.
		</div>
	</div>
</div>

<div class="modal fade" id="edit_notloggedin_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div id="modal-login" class="modal-content">
			<h2>Please login to access this feature!</h2>
  <form class="login-form" action="/login/" method="post">
    {% csrf_token %}
    	<div class="input-items">
    	<div class="input-item">
        	<label>Username:</label> <input class="form-input" type="text" name="username" id="username">
        </div>
        <div class="clear"></div>
        <div class="input-item">
        	<label>Password:</label> <input class="form-input" type="password" name="password" id="password" >
        </div>


        <div class="clear"></div>
      <button type="submit" class="submit-button">
        Login
      </button>
      </div>
      <p class="create-account"> Don't have an account? <a href="/register/">Create an account here</a></p>
  </form>
  		</div>
	</div>
</div>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1470398013178518&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock %}