{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Macrovue - Statements{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/statements.css"%}" />
<script type="text/javascript" src="{% static "js/statements.js"%}"></script>
<div id="content">
	<h1 class="title">Statements</h1>

	<!-- Tabs -->
	<div id="tabs">
		<div class="tab active-tab first-tab green_haze white_to_gray" id="tab1">
			Confirms
		</div>
		<div class="tab white_to_gray" id="tab2">
			Statements
		</div>
		<div class="tab white_to_gray final-tab" id="tab3">
			Tax
		</div>
	</div>

	<!-- Tab Content --> 
	<div id="tab1-content" class="tab-content">
		<div class="container">
			<h1>Confirms</h1>
		</div>
		<div class="no-values">
			<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
			<h1>You don't have any <span class="no-value-em">Confirms Statements</span></h1>
			<p class="small-text">Purchase Stocks or Vues to begin trading</p>
			<a href="/existing_vues"><div id="goto-btn">Visit Vues</div></a>
		</div>
	</div>
	<div id="tab2-content" class="tab-content">
		<div class="container">
			<h1>Statements</h1>
		</div>
		<div class="no-values">
			<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
			<h1>You don't have any <span class="no-value-em">Statements</span></h1>
			<p class="small-text">Purchase Stocks or Vues to begin trading</p>
			<a href="/existing_vues"><div id="goto-btn">Visit Vues</div></a>
		</div>
	</div>
	<div id="tab3-content" class="tab-content">
		<div class="container">
			<h1>Tax</h1>
		</div>
		<div class="no-values">
			<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
			<h1>You don't have any <span class="no-value-em">Tax Statements</span></h1>
			<p class="small-text">Purchase Stocks or Vues to begin trading</p>
			<a href="/existing_vues"><div id="goto-btn">Visit Vues</div></a>
		</div>
	</div>
</div>
{% endblock %}