{% extends "base.html" %}
{% load staticfiles %}
{% load currency %}
{% block title %}Macrovue - Transactions{% endblock %}
{% block content %}

<link type="text/css" rel="stylesheet" href="{% static "css/transactions.css"%}"/>
<div id="content">
	<h1 class="title">Transactions</h1>
	<div id="balance-container">
		<header>Current Balance:</header>
		<div class="box-cost">{% if portfolio_value %}
		{{portfolio_value.cash_value| currency }}
		{% else %}
		$0.00
		{% endif %}</div>
	</div>
	<div class="clear"></div>
	<div class="table-container">
	<div class="novals">
		<table class="table" cellspacing="0px"> 
			<thead>
				<th class="table-type">Type</th>
				<th class="table-fees">Fees</th>
				<th class="table-balance">Account Balance</th>
			</thead>
<!-- 			<tbody>
				<tr>
					<td>asdasd</td>
					<td>asdasda</td>
					<td>asdasdasd</td>
				</tr>
				<tr>
					<td>asdasd</td>
					<td>asdasd</td>
					<td>asdasd</td>
				</tr>
			</tbody> -->
		</table>
		<div class="no-values">
			<img src="{% static "images/macrovue2/macrovue-logo.png"%}" />
			<h1>You don't have any <span class="no-value-em">Transaction History</span></h1>
		</div>
		</div>
	</div>
</div>
{% endblock %}