#main-container {
	background-color: #fff; 
	border-radius: 4px;
	box-shadow: 0px 0px 6px #aaa;
	padding: 2%;
}
.title {text-align: center; color: #0D5C6B; border-bottom: 1px solid #eee; padding-bottom: 3px; margin-bottom: 35px !important;}

#inside-container {
	float: left;
	width: 100%;
}

#content-container{
	float: left;
	width: 65%;
}

#sidebar {
	width: 35%;
	top: 80px;
	float: right;
	position: static;
	background: #fff;
	padding-bottom: 5px;
}

#sidebar h2 {
	margin-left: 25px;
	margin-top: 10px;
}

.sidebar-list {
	list-style-type: none;
	margin-left: 30px;
}

.sidebar-list li {
	cursor: pointer;
	color: #3094a1;
	font-size: 16px;
}

.sidebar-list .fa-chevron-right {
	margin-right: 7px;
	color: #ccc;
}

/* Styling content */

.category{
	margin-top: 2%;
}

.category h2 {
	font-size: 22px;
	font-weight: 500;
}

.category h3 {
	text-decoration: underline;
	font-size: 18px;
	margin-top: 2px;
	margin-bottom: 10px;
}

.category .name {
	color: #03353F;
	font-size: 21px;
}

p {
	font-weight: 300 !important; 
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: justify;
}