/* Post  content */
#content{display: block; margin-top: 115px; border: 1px solid #aaa; background: #fff; border-radius: 2px; box-shadow: 1px 1px 3px #555;}
.entry-info {color: #999;}
.entry-title{font-size: 40px;}
.entry-header{border-bottom: 1px solid #ccc; padding-bottom: 1%; margin-bottom: 1%;}
.entry_body{padding: 1% 2% !important; }
.entry_body p {text-align: justify; font-size: 17px; line-height: 22px;}
.entry-footer {margin-top: 1%; padding: 2%; border-bottom: 1px solid #ccc;}
.entry-content {padding-top: 20px;}
.entry-content p {margin: 10px 0px 10px 0px;}
.blog_entry { margin-top: 0px;}
.clr {clear: both;}
.entry-container {padding-right: 10px; min-height: 588px; width: 65%; padding-left: 1%; border-right: 1px solid #ccc;}

/* Side panel */
#side-panel {height: 100%; display: block; float: right; width: 27%; /*border-left: 1px solid #ccc;*/ padding: 4% 3% 0px 3%;}
#side-panel section {padding: 4% 0px; border-bottom: 1px solid #ccc;}
#side-panel h1 {color: #42b4a1;}
#side-panel section:last-of-type {margin-bottom: 15px;}
#side-panel ul {margin-left: 10px; padding-left: 0px; list-style-type: none;}
#side-panel ul li {border-bottom: 1px solid #eee; font-size: 15px; padding-top: 10px; padding-bottom: 10px;}
#side-panel ul li a {text-decoration: none; color: #555; 	-webkit-transition:color 0.2s ease-in;  
    -moz-transition:color 0.2s ease-in;  
    -o-transition:color 0.2s ease-in;  
    transition:color 0.2s ease-in; }
#side-panel ul li:last-of-type {border-bottom: none;}
#side-panel ul li a:hover {color: #42B4A1;}

/* Preview post page */
h2 {
	font-size: 28px !important;
	font-weight: 300;
	color: #42B4A1;
	padding-left: 20px;
	padding-top: 8px;
	border-bottom: 1px solid #ccc !important;
	padding-bottom: 3px;
	color: #42B4A1 !important;
}

.entry-image img {
	display: block;
	margin: auto;
	max-width: 700px;
}

/* Comments */
#comments {display: inline-block; padding: 2%;}
fieldset {border: none !important;}
fieldset legend {font-size: 25px; font-weight: 300; color: #033640; width: 100%; border-bottom: 1px solid #ccc;}
fieldset label {font-size: 17px; font-weight: 300; width: 100%; margin-top: 10px;  margin-bottom:3px; display: block;}
fieldset textarea {font-size: 14px; font-family: 'Fira Sans'; resize: none;}
#comment-form {width: 100%; padding: 2%;}

input[type=submit]{
	color: #fff;
	display: inline-block;
	padding: 10px;	
	width: 100px;
	font-size: 17px;
	background: -moz-linear-gradient(top,  rgba(127,205,192,1) 0%, rgba(68,182,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,205,192,1)), color-stop(100%,rgba(68,182,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcdc0', endColorstr='#44b6a3',GradientType=0 ); /* IE6-9 */
	border: 1px solid #409f8f;
	border-radius: 2px;
}
input[type=submit]:hover{
	cursor: pointer;
	background: -moz-linear-gradient(top,  rgba(1,141,118,1) 0%, rgba(42,160,140,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,141,118,1)), color-stop(100%,rgba(42,160,140,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#018d76', endColorstr='#2aa08c',GradientType=0 ); /* IE6-9 */
}

#comment-list { display: block; list-style: none; margin-left: 0px; padding-left: 15px;}
#comment-list li { display: block; width: 700px; padding-left: 0px; margin-bottom: 15px; border-bottom: 1px solid #eee; padding-bottom: 10px;}
#comment-list li:last-of-type {border-bottom: none;}
.comment-info {float: left; display: inline; line-height: 22px; font-size: 20px; font-weight: 400; color: #42b4a1; text-transform: capitalize;}
.comment-published {float: left; display: inline; font-size: 14px !important; color: #aaa; line-height: 22px; margin-left: 10px;}
.comment-body {clear: both; display: block; font-size: 14px;}
/*.comment-person {vertical-align: top; background-color: #eee; box-shadow: inset 0px 0px 6px #aaa; border-right: 1px solid #aaa; width: 100px !important; padding: 10px; text-align: center; display: inline-block;}
.comment-body {display: inline-block; padding: 2% 2% 2% 4%; width: 485px; text-align: justify !important;}
.comment-info {display: block; font-size: 19px !important;}
.comment-published {color: #ccc; font-size: 12px; line-height: 12px;}*/
