#content{display: block; margin-top: 115px;	 border: 1px solid #aaa; background: #fff; border-radius: 2px; box-shadow: 1px 1px 3px #555; overflow-y: hidden;}
.entry-info {margin-left: 3px; font-size: 12px; padding-bottom: 5px;}
.entry-content {color: #333 !important; font-size: 16px !important; float: left; margin-left: 2%; width: 65%; text-align: justify !important; font-family: 'Fira Sans' !important}
.entry-content * {font-size: 16px !important;}
.entry-content img {display: none;}
.continue-reading {margin-top: 1%; margin-left: 2%; font-size: 18px;}
.entry-footer {float: left; margin-top: 1%; margin-left: 2%;}
.entry-container {width: 65%; padding-left: 1%; border-right: 1px solid #ccc; min-height: 455px;}
.entry-image img{float: left; display: block; height: 170px; background-color: #fff; position: absolute; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px; margin: auto;}
.entry-image {border-radius: 5px; background-image: url("../images/macrovue2/macrovue-logo.png") !important; background-size: 100% 100% !important; display: block; float: left; width: 160px; height: 160px; position: relative; overflow: hidden;}
.entry-header {float: right; width: 70%;}
.hentry {width: 560px; display: inline-block; vertical-align: top; padding-left: 7px;}
.entry-list-entry {padding: 2% 1%;}
/* Side panel */
#side-panel {height: 100%; display: block; float: right; width: 27%; /*border-left: 1px solid #ccc;*/ padding: 4% 3% 0px 3%;}
#side-panel section {padding: 4% 0px; border-bottom: 1px solid #ccc;}
#side-panel h1 {color: #42b4a1;}
#side-panel section:last-of-type {margin-bottom: 15px;}
#side-panel ul {margin-left: 10px; padding-left: 0px; list-style-type: none;}
#side-panel ul li {border-bottom: 1px solid #eee; font-size: 15px; padding-top: 10px; padding-bottom: 10px;}
#side-panel ul li a {text-decoration: none; color: #555; 
	-webkit-transition:color 0.2s ease-in;  
    -moz-transition:color 0.2s ease-in;  
    -o-transition:color 0.2s ease-in;  
    transition:color 0.2s ease-in; }
#side-panel ul li:last-of-type {border-bottom: none;}
#side-panel ul li a:hover {color: #42B4A1;}