#macrovue_vues .container {overflow: hidden;}
.div-title { text-align: center; font-size: 40px; color: #0D5C6B; font-weight: 300;}
 
#category-boxes {
	width: 840px;
	margin: auto;
}
 
.category-box {
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	margin-right: 5px;
	padding: 5px 10px;
	float: left;
	color: #fff;
	width: 140px;
 
}
 
.category-unselected {
	background: #aaa;
}
 
.category-selected {
	background: #6BC396;
	border-bottom: 4px solid #0D5C6B;
}
 
 
#vue-boxes {
	height: auto;
	width: 1050px;
	margin: auto;
	text-align: center;
	margin-top: 30px;
}
 
.vue-box {
	border: 1px solid #ccc;
	cursor: pointer;
	width: 250px;
	height:232px;
	float: left;
	margin: 5px;
	position: relative;
	overflow: hidden;
}
 
.vue-box img {
	position: absolute;
	left: 50%;
	margin-left: -150px;
	min-height: 232px;
	min-width: 250px;
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out; 
}
 
.vue-box .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;  
    color: #fff;  
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    padding: 20px;
    width: 250px;
    left: 0;
}
 
.vue-box .fade-caption {  
    opacity: 0;  
	width: 220px;
	height:202px; 
    text-align: left;  
    padding: 15px;
    text-align: center !important;
}
 
.vue-header {
	margin-top: 30px;
	font-size: 20px;
	font-weight: 400;
 
}
 
.vue-box:hover .fade-caption {  
	opacity: 1
}    
 
#load-more {
	width: 130px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}
 
#load-more:hover {
	cursor: pointer;
}
 
#load-more header {
	font-size: 20px;
	font-weight: 400;
	color: #38BB93;
}
 
#load-more .fa {
	font-size: 60px;
	font-weight: 100;
	color: #38BB93;
}
 
#client-speak header {
	width: 902px;
	margin: auto;
	text-align: center;
}
 
#client-speak header .div-title {
	float: left;
	width: 300px;
}
 
.left-line, .left-line hr, .right-line, .right-line hr {
	float: left;
	width: 300px;
	color: #ccc;
}
 
.left-line hr, .right-line hr {
	margin-top: 30px;
}
 
#client-quote {
	width: 900px;
	margin: 30px auto;
	padding-bottom: 120px;
}
 
 
#left-quote, #right-quote {
	padding: 20px; 
	float: left;
}
 
#left-quote {
	padding-right: 50px;
	float: left;
}
 
#right-quote {
	padding-left: 50px;
	float: right;
}
 
#quote-content {
	width: 598px;
	text-align: center;
	font-size: 16px;
	color: #666;
	float: left;
	font-style: italic;
	margin-top: 15px;
}
