
.container {width: 1170px !important;min-width: 1170px;}

.dark-text,.dark-text a{color: #000}
.white-text,.white-text a{color: #FFF}

ul, ol {margin-bottom: 0}

body {background: #fff;padding-top: 46px !important;}
.sidebar_toggler_icon_default {background: none;}
.sdl-wrapper {min-width: 1170px;}
.strong_text {font-weight: 700;}
.float_left {float: left;}
.float_right {float: right;}
.clear {clear: both}
.display_none {display: none}

.navbar-linear li {display: inline-block;}
.navbar-linear li a {float: none;}
.page-header.navbar .page-logo {width: auto}
.page-header.navbar .page-logo .logo-default {margin-top: 10px}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {padding: 13px 10px;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user ul li {width: 100%}
.page-header.navbar {position: fixed;top: 0;}

.page-header.navbar .navbar-nav {margin: 0 15px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}

.page-header.navbar .menu-toggler {background: url('../images/sidebar_toggler_icon_default')no-repeat left top;}

.no-radius {border-radius: 0;}

.fa-margin {margin-left: 3px;margin-right: 3px;}

.second-navbar {background: #44b6ae;}
.breadcrumb {margin-bottom: 0;background: #44b6ae}
.breadcrumb li a {color: #ccc}
.breadcrumb>li+li:before {color: #ccc}
.breadcrumb li.active a {color: #fff}

.dashboard-info {margin-top: 10px;}
.dashboard-info .profile-info h1{margin:10px 0; }

.table-panel table {margin-bottom: 0;}
.table-panel table thead {border-bottom: 0;}
.table-panel .panel-body {padding: 0;}

.table-panel tr > td {width: 25%}

.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled {
  background: url("../images/accordion-plusminus.png") no-repeat;
  background-position: right -19px;
  margin-right: 15px;
}
.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled.collapsed {
  background-position: right 12px;

}


.dash-grids .dashboard-stat {margin-bottom: 15px !important;}
.the-graph {width: 640px;}

.mvue-tile a {color: #fff;text-decoration: none;}
.mvue-tile a:hover {text-decoration: underline;}
.mvue-tile {position: relative;min-height: 123px;}
.mvue-tile .company-name {color: #fff;font-size: 26px;padding: 10px;font-weight: 400;line-height: 30px}
.mvue-tile .visual {width: 40px;height: 40px;float: right;}
.mvue-tile .visual > i {font-size: 45px;line-height: 36px;}
.mvue-tile .details {top: 25px;right: 8px;}
.mvue-tile .details .number {font-size: 22px;line-height: 24px;}
.share-info {position: absolute;height: 95px;width: 100%;display: block;}
.share-remark {text-align: right;position: absolute;bottom: 28px;left: 0;right: 0;color: #fff;padding-right: 10px;font-size: 14px;}

.more-options {position: absolute;top:95px;left: 0;right: 0;bottom:0;display: block;height: 28px;background: rgba(0,0,0,0.1);line-height: 28px;}

.page-header.navbar .search-form {
	right: 0;
}

.portlet-tabs > .nav-tabs > li {
	float: none;
}

.portlet-tabs > .nav-tabs > li a,.portlet-tabs > .vue-tabs > li a{border-left: 1px solid rgba(0,0,0,0.2);margin-top: 2px;padding-top: 12px;}
.vue-tabs li a {white-space: nowrap;display: inline-block;text-align: center;width: 100%}


.portlet-tabs > .nav-tabs > li:first-child a,.portlet-tabs > .nav-tabs > li.active:first-child a,.portlet-tabs > .nav-tabs > li.active:first-child a:hover,.portlet-tabs > .nav-tabs > li.active:first-child a:hover  {border-left: 0}
.portlet-tabs > .nav-tabs > li.active a,.portlet-tabs > .nav-tabs > li.active a:hover,.portlet-tabs > .nav-tabs > li a:hover {background:#36918A;background: rgba(0,0,0,0.2);border-left: 1px solid rgba(0,0,0,0.2);color: #fff}

.col-5 {width: 20%;}


.table-mv th:nth-child(1),.table-mv td:nth-child(1) {width:30%;}
.table-mv th:nth-child(2),.table-mv td:nth-child(2) {width:10%;}
.table-mv th:nth-child(3),.table-mv td:nth-child(3) {width:15%;}
.table-mv th:nth-child(4),.table-mv td:nth-child(4) {width:15%;}
.table-mv th:nth-child(5),.table-mv td:nth-child(5) {width:15%;}
.table-mv th:nth-child(6),.table-mv td:nth-child(6) {width:5%;}
.page-header.navbar .top-menu {float: none;}

.stocks-panel-head {padding:5px 8px;}


.tab-pane table:first-child {margin-bottom: 5px;}
.panel-collapse h4 {font-size: 14px;}

.panel-collapse .table>thead>tr>th, .panel-collapse .table>tbody>tr>th, .panel-collapse .table>tfoot>tr>th, .panel-collapse .table>thead>tr>td, .panel-collapse .table>tbody>tr>td, .panel-collapse .table>tfoot>tr>td {padding:4px 8px;}


[class^="m-icon-"] {
  background-image: url('../images/syncfusion-icons.png');
 }

[class^="m-icon-big-"] {
  background-image: url('../images/syncfusion-icons.png');
 }
.m-icon-white {
  background-image: url('../images/syncfusion-icons-white.png');
}
.login .logo {margin-top: 30px;}


header .third-navbar {margin-top: 10px;}


.close {
  display: inline-block;
  margin-top: 4px;
  margin-right: 0px;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat !important;
  text-indent: -10000px;
  outline: none;
  background-image: url("../images/remove-icon-small.png") !important;
}

.graph {height: 400px; width: 1120px}

.is_clickable {
  cursor: hand;
  cursor: pointer;
}
.nstSlider {
  cursor: hand;
  cursor: pointer;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
  position: relative;
  width: 100%;
  height: 20px;
  background: #f0f0f0;
}
.nstSlider .leftGrip.gripHighlighted {
  background: #113344;
}
.nstSlider .rightGrip.gripHighlighted {
  background: #113344;
}
.nstSlider .rightGrip,
.nstSlider .leftGrip {
  position: absolute;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
  width: 20px;
  height: 20px;
  background: #ffffff;
}
.nstSlider .bar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  background: #ffffff;
  height: 8px;
  top: 6px;
}
.nstSlider .highlightPanel {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  background: #e87722;
  height: 20px;
  top: 0;
}

.leftLabel {margin: auto auto; width: 50px;}
.customize {margin-top: 10px}
.weighting_strategy {font-size: 14px}
.enter_stocks {font-size: 14px; font-weight: 300;}
.enter_ticker {width: 80%; height: 35px; padding: 5px; font-size: 14px; font-weight: 300; border-radius: 3px; margin-top: 10px}
#stock_add_display_modal {padding: 10px; padding-top: 0;}
.stock_name {text-align: left; float: left; width: 15%; margin-top: 10px !important; height: 60px;}
.stock_description {text-align: left; float: left; width: 79%; font-size: 12px; font-weight: 300; line-height: 15px; margin-top: 10px !important; height: 60px; overflow: hidden;}
.stock_add {text-align: left; float: left; width: 3%; padding-left: 2%; padding-top: 15px; font-size: 30px !important}
#menu_left {width: 20%; padding: 10px 2% 10px 2%;}
.menu_left_category {font-size: 19px; font-weight: 300}
#vues_content {width: 70%;}
#dynamic_vues, #all_vues {margin-top: 20px}
#existing_vue_navigation {margin-top: 35px; background: #f8f8f8; width: 80%; height: 40px;}
.navigation_search {float: left; width: 24%; border-right: 1px solid #F0F0F0; height: inherit; padding: 4px;}
.navigation_search i {margin-left: 10px; margin-top: 2px; font-size: 20px; color: #707070}
.navigation_search input[type="text"] {font-weight: 300; padding: 5px;}
.navigation_categorise {float: left; width: 40%; border-right: 1px solid #F0F0F0; height: inherit; padding: 9px;}
.existing_vue {float: left; margin-right: 1%; width: 24%; height: 185px; border: 1px solid #F0F0F0; border-radius: 3px; color: #000; padding: 0}
.existing_vue_info {margin-top: 0; height: 125px;}
.existing_vue_title {font-size: 20px; text-align: center; padding-top: 10px; color: #fff; text-shadow: 1px 1px 1px #000; letter-spacing: 1px}
.existing_vue_content {font-size: 13px; font-weight: 300; width: 100%; min-height: 30px; padding: 5px; margin-top: 5px; background: rgba(0,0,0,0.4); color: #fff;}
.existing_vue_return {font-size: 40px; text-align: center;}
.red_return {color: #F5455C}
.green_return {color: #419423}
.vue_stats {text-align: center; width: 24%; height: 140px; margin-right: 1%; float: left; border: 1px solid #F0F0F0;}
.vue_stat_header {font-weight: 300; font-size: 25px; margin-top: 15px;}
.vue_progressbar {width: 101px; background: #F2D8D9; height: 15px; margin: 25px auto; border: 1px solid #F2D8D9;}
.vue_progress_slot {background: #FAE8E9; width: 19px; margin-right: 1px; height: 13px; float: left;}
.vue_progress_emptyslot {background: #FCF5F5; width: 19px; margin-right: 1px; height: 13px; float: left;}
.box_stocks {width: 100%; background: #F8F8F8; border: 1px solid #F0F0F0; height: 40px; padding: 10px; margin-top: 10px; margin-bottom: 10px;}
.box_stock_info {width: 4%; text-align: right; margin-right: 1%;}
.footer_info {font-weight: 300; letter-spacing: 1px; font-size: 11px; padding: 0px 30px 0px 30px; margin-bottom: 20px;}
.box_stock_options {width: 95%;}
.add_stocks_area {margin-bottom: 10px}
.add_stocks_area input[type="text"] {height: 33px; font-weight: 300; width: 20%;}

.tooltipsy {padding: 10px; max-width: 200px; color: #303030; background-color: #f5f5b5; border: 1px solid #deca7e;}
.fb-like {margin-top: 0px;}
.twitter-button {float: left;}