/* START EXISTING VUE CSS */
#main-container {min-height: 670px !important; overflow: auto;}
#menu_left {width: 23%; margin: 00px 1% 0px 0px; background: #F0F0F0; min-height: 600px; border-radius: 3px; box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.1); overflow: hidden; border: 1px solid #888;}
.menu_left_category {font-size: 19px; font-weight: 300}
#vues_content {width: 75%;}
#dynamic_vues, #all_vues {margin-top: -20px}
#existing_vue_navigation {width: 877px; text-align: center; /*background: #f8f8f8;*/ height: 40px; border-radius: 2px; padding: 3px; position: absolute; top: 739px; left: 373px;}
.navigation_search {display: none !important; float: left; width: 26%; border-right: 1px solid #F0F0F0; height: 32px; padding: 4px;}
.navigation_search input[type="text"] {width: 80%}
.navigation_search i {margin-left: 10px; margin-top: 2px; font-size: 20px; color: #707070}
.navigation_search input[type="text"] {font-weight: 300; padding: 5px;}
.navigation_categorise {display: none !important; float: left; width: 25%; border-right: 1px solid #F0F0F0; height: 22px; padding: 9px 2% 9px 2%;}
.navigation_pages {margin-top: 0px; font-size: 20px;}
.existing_vue, .existing_vue_default {float: left; margin-left: 1%; margin-top: 20px; width: 32%; height: 185px; border: 1px solid #909090; background: #eaeaea; border-radius: 3px; color: #000; padding: 0}
.existing_vue_info {margin-top: 0; height: 125px; background-size: cover !important}
.existing_vue_title {font-size: 20px; text-align: center; padding-top: 10px; color: #fff; text-shadow: 2px 1px 1px #000; letter-spacing: 1px}
.existing_vue_content {font-size: 13px; font-weight: 300; width: 96%; min-height: 30px; padding: 5px 2% 5px 2%; margin-top: 5px; background: rgba(0,0,0,0.4); color: #fff;}
.existing_vue_return {font-size: 26px; text-align: center;}
.red_return {color: #F5455C; margin-top: 12px;}
.green_return {color: #419423; margin-top: 12px;}
.neutral_return {color: #575757; margin-top: 12px;}
.menu-left-heading {
	font-size: 21px;
	font-family: 'Fira Sans' !important;
	background-color: #42b4a1;
	color: #fff;
	/* top, right, bottom, left */
	padding: 3px 18px 3px 10px !important;
	width: 100%;
	margin: 10px 0px 10px 0px;
	border-top: 1px solid #469C8D;
	border-bottom: 1px solid #469C8D;
	box-shadow: 0px 3px 8px #AAA;
}

.search_existing_vues, label {
	font-size: 16px;
	margin: 10px 0px 15px 0px;
	padding: 10px 0px 0px 15px;
}

label {
	display: inline;
	font-size: 16px;
}

.search_existing_vues, label:hover{
	cursor: pointer;
}

input[type=checkbox] {
  padding: 10px;
}