#content {padding: 20px; display: block; background-color: #fff; box-shadow: 0px 0px 6px #aaa; border-radius: 2px;}
/*header {margin-bottom: 2%;}*/
.title {text-align: center; color: #0D5C6B; border-bottom: 1px solid #eee; padding-bottom: 3px; margin-bottom: 35px !important;}
#table-container {text-align: center; display: block; margin: auto;}

/* Styling table */
#favourites-table {border-spacing: 0px; width: 100%; display: table;}
#favourites-table th {text-transform: uppercase; background-color: #e3e3e3; font-size: 16px; font-weight: 400;}
#favourites-table, td, th {vertical-align: middle !important; border: 1px solid #ccc; border-collapse: collapse; }
#favourites-table td,th {padding: 5px;}
#favourites-table td {display: table-cell; vertical-align: middle; height: 60px; font-size: 18px; word-wrap: break-word !important;}
#favourites-table tr td:first-of-type {text-align: left; width: 201px !important;}
#favourites-table tr:nth-child(even) {background-color: #eee;}
/* Sizing table */
#vue-name { min-width: 201px !important;}
#vue-date {	width: 95px;}
#year-return {width: 90px;}
#month-return {width: 91px;}
#vue-growth {width: 133px;}	
#vue-valuations {width: 133px;}
#vue-risk {width: 133px;}
#vue-remove {width: 60px;}
/*Styling elements inside */
.vue-image {margin-left: 10px; float: left;height: 50px; width: 50px; border: 1px solid #ccc; box-shadow: 1px 1px 2px #aaa;}
.vue-image img {width: 50px; height: 50px;}
.vue-name {float: right; margin-right: 0px 10px; font-weight: 400; font-size: 18px; width: 145px !important; word-wrap: break-word;}
.img-wrapper {vertical-align: middle !important;}
/*.vue-image {display: table-cell; vertical-align: middle !important; float: left; vertical-align: middle;}
.vue-image img {border: 1px solid #ccc; border-radius: 2px; margin-right: 3px; height: 50px; width: 50px; box-shadow: 1px 1px 2px #aaa;}
.vue-name h3 {margin: 0px 0px 0px 0px !important; padding: 0px 0px 0px 0px !important; display: block;} */

.created {visibility: hidden; font-size: 13px; color: #999; float: left; display: block;}
.up {color: #02BB00;}
.down {color: #DD0200;}
.neutral {color: #ccc;}
.fa-times {font-size: 26px;	color: #ff0000;}
.fa-arrow-up, .fa-arrow-down {font-size:25px;}