/* Overwriting the bootstrap changes */
#slider-bg {background: #121212; width: 100%;}
.cycle-slideshow {width: 1170px !important; margin: auto auto;}
.cycle-slideshow img {width: 100% !important;}
/* FEATURES */
#d1{width: 100%; height: 300px; margin: 40px auto; border-radius: 4px !important; border: 1px solid #202020; box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2); background-color: #fff; padding: 0;}
.d1-item {float: left; text-align: center; width: 30% !important; padding: 10px 1% 10px 1%; margin: 25px 1% 0px 0px;}
.d1-item:first-of-type {margin-left: 1%;}
.feature-description {font-size: 16px; color: #000;}

/* SLIDERS */
.slider-div {width: 100%; height: 440px !important; background-size: 100% 100% !important; background-repeat: no-repeat; background-position: center !important; text-align: center !important;}
.slider-content {padding-top: 140px; display: block;}
.slider-div h1{margin-top: 0px !important; font-size: 50px !important; font-weight: 300; color: #fff; text-shadow: 2px 1px 1px #000;}
.slider-side {float: left; padding-top: 90px; padding-left: 15px; width: 250px; margin-left: 0px !important; text-shadow: 2px 1px 1px #000; text-align: left;}
.slider-side h2 {font-size: 40px !important; font-weight: 300; color: #fff; text-shadow: 2px 1px 1px #000;}
.slider-side h3 {font-size: 80px; color: #3FB4A1; font-family: 'Fira Sans';}
.slider-side h4 {font-size: 25px; font-weight: 300; color: #3FB4A1; margin-top: -20px;}
.slide-description {float: left; height: 70px; line-height: 70px; margin-top: 200px; font-size: 36px; color: #fff; background: rgba(0,0,0,0.6); margin-left: 20px; width: 850px; text-align: center; text-shadow: 1px 1px 1px #000; font-weight: 400;}
.green-button {float: left; margin: -20px 15px 0px 0px; text-align: center; width: 230px !important; height: 40px !important; text-shadow: none; border-radius: 3px !important; overflow: auto; padding: 5px 10px 5px 10px; font-size: 18px; line-height: 40px; text-transform: uppercase; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); background: url('../images/macrovue2/header_bg.png') top left repeat-x; border: 1px solid #022329; box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);}
.join-button {float: left; margin-top: -20px; color: #FFF; text-align: center; width: 160px !important; height: 40px !important; text-shadow: none; border-radius: 15px !important; overflow: auto; padding: 5px 10px 5px 10px; font-size: 18px; line-height: 40px; text-transform: uppercase; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); border: 3px solid #fff; background: rgba(0,0,0,0.3);}
.green-button:hover, .join-button:hover {cursor: pointer; opacity: 0.9;}
#slider-1{background: url('../images/slide-1.jpg'); background-position: center; background-repeat: no-repeat;}
#slider-2{background: url('../images/slide-2.jpg'); background-repeat: no-repeat;}
#slider-3{background: url('../images/slide-3.jpg'); background-repeat: no-repeat;}
#slider-4{background: url('../images/slide-4.jpg'); background-repeat: no-repeat;}
#slider-5{background: url('../images/slide-5.jpg'); background-repeat: no-repeat;}
#slider-7{
 background: url('../images/slide-7.jpg');  background-repeat: no-repeat;}
.blackgradient {background: rgb(74, 74, 74); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(74,74,74,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(74,74,74,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(74,74,74,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(74,74,74,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(74,74,74,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(74,74,74,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */}

/* START TOP NAV */
header {overflow: auto;}
#top_nav {width: 100%; height: 80px; background: #003333; position: fixed; z-index: 999; -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1); box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);}
#top_logo {float: left; margin-top: 10px; width: 230px;}
#top_menu {float: left; margin-left: 30px; width: 650px; padding-left: 40px; text-transform: uppercase;}
.top_menu_item {float: left; margin-right: 20px; line-height: 80px; font-size: 16px; color: #FFF; font-weight: 300; padding: 0px 20px 0px 20px;}
.top_menu_item a:link, .top_menu_item a:visited, .top_menu_item a:active, 
.connect_button a:link, .connect_button a:visited, .connect_button a:active,
.sign-up a:link, .sign-up a:visited, .sign-up a:active {color: #FFF;}
.top_menu_item:hover {cursor: pointer; text-decoration: underline;}
#top_user_interface {float: left; width: 160px; padding: 0px 30px 0px 30px; height: 80px; line-height: 80px; font-size: 20px; font-weight: 300; background: rgba(0,0,0,0.3); color: #fff; }
#top_user_interface:hover {cursor: pointer; background: rgba(0,0,0,0.4);}
.dropit {list-style: none; padding: 0; margin: 0;}
.dropit .dropit-trigger {position: relative; }
.dropit .dropit-submenu {position: absolute; top: 100%; right: 0; z-index: 1000; display: none; min-width: 150px; list-style: none; padding: 0; margin: 0;}
.dropit .dropit-open .dropit-submenu {display: block;}
#dropdown_options {margin-top: 80px; background: #022a32}
#dropdown_options > a > li {padding: 5px 20px 5px 20px;}
#dropdown_options > a:link, #dropdown_options > a:visited, #dropdown_options > a:active {color: #fefefe; font-weight: 300; text-decoration: none}
#dropdown_options > a > li:hover {background: rgba(0,0,0,0.3);}
.menu > li > a {text-decoration: none; color: #fff;}

.submenu2-dropdown {background: #022a32; left: 0px !important; margin-top: 80px !important; margin-left: 0px !important; width: 160px;}
.submenu2-dropdown li {padding: 5px 20px; line-height: 20px !important;}
.submenu2-dropdown li:hover {background: rgba(0,0,0,0.2);}
.submenu2-dropdown a {text-decoration: none; color: #fff; font-weight: 300;}

.submenu-dropdown {background: #022a32; left: 0px !important; margin-top: 80px !important; margin-left: 138px !important; width: 160px;}
.submenu-dropdown li {padding: 5px 20px; line-height: 20px !important;}
.submenu-dropdown li:hover {background: rgba(0,0,0,0.2);}
.submenu-dropdown a {text-decoration: none; color: #fff; font-weight: 300;}

.sign-up {line-height: 80px; margin-right: 20px;}
.connect_button {background: #72ba94; /* Old browsers */
background: -moz-linear-gradient(top,  #72ba94 0%, #6eac8b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72ba94), color-stop(100%,#6eac8b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #72ba94 0%,#6eac8b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #72ba94 0%,#6eac8b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #72ba94 0%,#6eac8b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #72ba94 0%,#6eac8b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72ba94', endColorstr='#6eac8b',GradientType=0 ); /* IE6-9 */
width: 80px; padding: 10px; height: 17px; margin-left: 5px; color: #fff; text-align: center; border-radius: 3px; margin-top: 20px;}
/* END TOP NAV */

/* START FOOTER */
#footer {height: 70px; line-height: 70px; background: #003333; border: 0;}
#footer_logo {}
/* END FOOTER */
