/* Overwriting the bootstrap changes */
* {
  box-sizing: initial !important;
  -webkit-box-sizing: inital !important;
}

.container {
  width: 1170px !important;
  margin: auto auto !important;
}

input {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

#saying {
	font-style: oblique !important;
	text-transform: capitalize;
	font-size: 20px !important;
	height: 40px;
	line-height: 40px;
}

#second_nav {
	text-align: center !important;
	height: 40px !important;
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	/*background: linear-gradient(to bottom, #47AD9C 0%, #2EA38F 60%) repeat scroll 0% 0% transparent !important; */
	background-color: #2EA38F;
	border-bottom: 5px solid #228A78;
}

/* Index page */

body {
	margin: 0;
	padding: 0;
	font-weight: 300;
	background: rgb(74, 74, 74);
	background: -webkit-radial-gradient(#4a4a4a, #000); /* Safari 5.1-6 */
	background: -o-radial-gradient(#4a4a4a, #000); /* Opera 11.1-12 */
	background: -moz-radial-gradient(#4a4a4a, #000); /* Firefox 3.6-15 */
	background: radial-gradient(#4a4a4a, #000); /*Standard*/
	font-family: 'Fira Sans';
}

#main-container {
	width: 100% !important;
	margin: 0;
	padding: 0;
}


#slider-bg {background: #121212; width: 100%;}

.cycle-slideshow {
	width: 1170px !important;
	margin: auto auto;
}
.cycle-slideshow img {
	width: 100% !important;
}

/* FEATURES */
#d1{
	width: 100%;
	height: 300px;
	margin: 40px auto;
	border-radius: 4px !important;
	border: 1px solid #202020;
	box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2);
	background-color: #fff;
	padding: 0;
}

.d1-item {
	float: left;
	text-align: center;
	width: 30% !important;
	padding: 10px 1% 10px 1%;
	margin: 25px 1% 0px 0px;
}

.d1-item:first-of-type {
	margin-left: 1%;
}

.feature-description {
	font-size: 16px;
	color: #000;
}


/* SLIDERS */
.slider-div {
	width: 100%;
	height: 440px !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat;
	background-position: center !important;
	text-align: center !important;

}

.slider-content {
	padding-top: 140px;
	display: block;
}

.slider-div h1{
	margin-top: 0px !important;
	font-size: 50px !important;
	font-weight: 300;
	color: #fff;
	text-shadow: 2px 1px 1px #000;
}

.slider-side {
	float: left;
	padding-top: 90px;
	padding-left: 15px;
	width: 250px;
	margin-left: 0px !important;
	text-shadow: 2px 1px 1px #000;
	text-align: left;
}

.slider-side h2 {
	font-size: 40px !important;
	font-weight: 300;
	color: #fff;
	text-shadow: 2px 1px 1px #000;
}

.slider-side h3 {
	font-size: 80px;
	color: #3FB4A1;
	font-family: 'Fira Sans';
}

.slider-side h4 {
	font-size: 25px;
	font-weight: 300;
	color: #3FB4A1;
	margin-top: -20px;
}

.slide-description {
float: left; height: 70px; line-height: 70px; margin-top: 200px; font-size: 36px; color: #fff; background: rgba(0,0,0,0.6);
margin-left: 20px; width: 850px; text-align: center; text-shadow: 1px 1px 1px #000; font-weight: 400;}

.green-button {
float: left; margin: -20px 15px 0px 0px;
text-align: center;
width: 230px !important;
height: 40px !important; 
text-shadow: none;
border-radius: 3px !important;
overflow: auto; 
padding: 5px 10px 5px 10px; 
font-size: 18px; 
line-height: 40px;
text-transform: uppercase;
text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
background: url('../images/macrovue2/header_bg.png') top left repeat-x;
border: 1px solid #022329; box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
}

.join-button {
float: left; margin-top: -20px; color: #FFF;
text-align: center;
width: 160px !important;
height: 40px !important; 
text-shadow: none;
border-radius: 15px !important;
overflow: auto; 
padding: 5px 10px 5px 10px; 
font-size: 18px; 
line-height: 40px;
text-transform: uppercase;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
border: 3px solid #fff; 
background: rgba(0,0,0,0.3);
}

.green-button:hover, .join-button:hover {
cursor: pointer;
opacity: 0.9;
}

#slider-1{
	background: url('../images/slide-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

#slider-2{
	background: url('../images/slide-2.jpg');
	background-repeat: no-repeat;
}

#slider-3{
	background: url('../images/slide-3.jpg');
	background-repeat: no-repeat;
}

#slider-4{
	background: url('../images/slide-4.jpg');
	background-repeat: no-repeat;
}

#slider-5{
	background: url('../images/slide-5.jpg');
	background-repeat: no-repeat;
}

#slider-7{     
	background: url('../images/slide-7.jpg');     
	background-repeat: no-repeat; 
}

.blackgradient {
background: rgb(74, 74, 74); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(74,74,74,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(74,74,74,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(74,74,74,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(74,74,74,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(74,74,74,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(74,74,74,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */
}

.tag-line {background: #2EA38F; border: 1px solid #278b7a; border-right: 0; border-left: 0; width: 100%; height: 100px; line-height: 100px; font-size: 34px;
 color: #fff; text-align: center; text-shadow: 1px 1px 1px rgba(0,0,0,0.4);}
.tag-line-button {color: #fff; border-radius: 15px; border: 5px solid #258575; background: #289280; padding: 10px; width: 100px; font-size: 18px;}


.feature_row {width: 100%; background: #fff; height: 280px; border-top: 1px solid #f0f0f0;
    -webkit-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.2);
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.2);}
.feature_row_style2 {background: #DCE8E6; border: 1px solid #C7D6D4; border-right: 0; border-left: 0}
.feature_left_img {float: left; line-height: 270px; padding-top: 50px; width: 18%; height: 100px; text-align: center;}
.feature_left_img img {}
.feature_right_content {float: left; width: 78%; text-align: left; padding: 90px 1% 10px 1%;
font-size: 17px; color: #606060;}