/* Overwriting the bootstrap changes */
* {
  box-sizing: initial !important;
  -webkit-box-sizing: inital !important;
}

body {
   background: url('../images/macrovue2/bg.png') top left repeat !important;
}

.container {
  width: 1170px !important;
  margin: auto auto !important;
}

input { 
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

label {
  font-size: 17px;
  font-weight: 400;
  line-height: 36px;
}

.form-input {
  width: 60%;
  padding: 5px; 
  float: right;
}

.input-box {
  border: 1px solid #ccc;
  border-left: 5px solid #42B4A1;
  clear: both;
  text-align: left;
  padding-left: 7px; 
}

.username-field {
  line-height: 36px;
  margin-bottom: 20px;
}

.password-field {
  margin-bottom: 10px;
}

.submit-button {
  float: right;
  border: 1px solid #409f8f;
  color: #fff;
  height: 20px;
  font-size: 17px;
  background: rgb(127,205,192); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,205,192,1) 0%, rgba(68,182,163,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,205,192,1)), color-stop(100%,rgba(68,182,163,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcdc0', endColorstr='#44b6a3',GradientType=0 ); /* IE6-9 */
}

.submit-button:hover {
  cursor: pointer; background: rgb(1,141,118); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(1,141,118,1) 0%, rgba(42,160,140,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,141,118,1)), color-stop(100%,rgba(42,160,140,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#018d76', endColorstr='#2aa08c',GradientType=0 ); /* IE6-9 */
}


/* Login page */
#login-box {
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 10%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px !important;
  box-shadow: 0px 0px 6px #aaa;
}

/*
.blue.btn {
  font-size: 17px !important;
  border-radius: 4px !important;
}

.btn i {
  font-size: 18px !important;
  padding-left: 7px !important;
} */

#login-box h1 {
  margin-top: 7px !important;
  margin-bottom: 20px !important;
}

.create-account {
  clear: both;
  margin-top: 25px !important;
  font-weight: 300;
}

.login .content {
  border-radius: 4px !important;
  box-shadow: 0px 0px 10px #222;
  background-color: #fff;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
}