#main-container {overflow: initial;}
#content {padding: 20px; display: block; background-color: #fff; box-shadow: 0px 0px 6px #aaa; border-radius: 2px;}
.title {text-align: center; color: #0D5C6B; border-bottom: 1px solid #eee; padding-bottom: 3px; margin-bottom: 35px !important;}

/* TABS */
#tabs {text-align: center; width: 570px; height: 44px; /*margin: -22px auto;*/ margin: 30px auto; background: #c6c6c6; border: 1px solid #c6c6c6; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
.tab {width: 284px; height: 42px; padding-top: 2px; margin-right: 1px; float: left; line-height: 44px; text-align: center; color: #0d5c6b; font-size: 20px;}
.tab:hover {box-shadow: inset 1px 0px 5px 2px rgba(0,0,0,0.1); cursor: pointer}
.active-tab:hover {box-shadow: none; background: rgb(127,205,192); /* Old browsers */
background: -moz-linear-gradient(top, rgba(127,205,192,1) 0%, rgba(68,182,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,205,192,1)), color-stop(100%,rgba(68,182,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcdc0', endColorstr='#44b6a3',GradientType=0 ); /* IE6-9 */}
.final-tab {width: 285px; margin-right: 0px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-top-left-radius: 0; border-bottom-left-radius: 0}
.first-tab {border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.active-tab {color: #fff;}

.chart-container {
	width: 1170px;
	margin-left: -20px;
}

