body {color: #404040;}
#profile_left_container {width: 270px; float: left; min-height: 580px; overflow: auto;
background: #fff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
#profile_left_avatar {width: 240px; background: #F0F0F0; padding: 20px 15px 10px 15px; height: 200px; text-align: center;}
#profile_left_avatar img {height: 150px; max-width: 100%;}
#profile_username {font-size: 21px; text-transform: uppercase; letter-spacing: 1px; margin-top: 10px;}
#profile_quote {width: 80%; margin: 20px auto; font-size: 16px; font-style: italic;}
#profile_stats {width: 80%; margin: 15px auto; font-size: 15px;}
.profile_stat_text {float: left; width: 80%; margin-top: 5px; font-weight: 500;}
.profile_stat_value {float: left; width: 20%; margin-top: 5px; font-style: italic;}
#profile_social {width: 80%; margin: 20px auto; text-align: center;}
#add_friend, #view_vues {float: left; margin-left: 25px; font-size: 15px;}
#profile_social img {margin: 20px 2%;}

#profile_right_container {width: 900px; float: left; min-height: 601px; overflow: auto;}
#profile_menu {width: 100%; background: #F0F0F0; height: 50px;}
.profile_menu_option {float: left; width: 300px; line-height: 50px; text-align: center; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;}
.active {border: none;
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.profile_menu_option:hover {cursor: pointer;}
.profile_content {background: #fff; width: 900px; min-height: 551px;}

.existing_vue, .existing_vue_default {float: left; margin: 20px 1% 0px 2%; width: 30%; height: 185px; border: 1px solid #909090; background: #eaeaea; border-radius: 3px; color: #000; padding: 0}
.existing_vue_info {margin-top: 0; height: 125px; background-size: cover !important}
.existing_vue_title {font-size: 20px; text-align: center; padding-top: 10px; color: #fff; text-shadow: 2px 1px 1px #000; letter-spacing: 1px}
.existing_vue_content {font-size: 13px; font-weight: 300; width: 96%; min-height: 30px; padding: 5px 2% 5px 2%; margin-top: 5px; background: rgba(0,0,0,0.4); color: #fff;}
.existing_vue_return {font-size: 26px; text-align: center;}
.red_return {color: #F5455C; margin-top: 12px;}
.green_return {color: #419423; margin-top: 12px;}
.neutral_return {color: #575757; margin-top: 12px;}