body {font-family: 'Fira Sans' !important; background: url('../images/macrovue2/bg.png') top left repeat !important;}

input {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

#second_nav {
	text-align: center !important;
	height: 40px !important;
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	/*background: linear-gradient(to bottom, #47AD9C 0%, #2EA38F 60%) repeat scroll 0% 0% transparent !important; */
	background-color: #2EA38F;
	border-bottom: 5px solid #228A78;
}


/* Register CSS */
.strong_text, h1, p {font-weight: 300;}
#form-box {
	width: 40%;
	display: block;
	margin: auto;
	margin-top: 4%;
	background-color: #fff;
	padding: 20px;
	border-radius: 4px !important;
	box-shadow: 0px 0px 6px #aaa;
}

#form-box h1{
	margin-top: 7px !important;
	margin-bottom: 20px !important;
}

.input-items {line-height: 36px; font-size: 17px; font-weight: 400; margin-bottom: 20px;}

.input-items input[type="text"], .input-items input[type="email"], .input-items input[type="password"] {
	width: 60%;
	padding: 5px;	
	float: right;
}

#register_button {
	float: right;
	border: 1px solid #409f8f;
	color: #fff;
	height: 50px;
	font-size: 17px;
	background: rgb(127,205,192); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(127,205,192,1) 0%, rgba(68,182,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,205,192,1)), color-stop(100%,rgba(68,182,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcdc0', endColorstr='#44b6a3',GradientType=0 ); /* IE6-9 */
	margin-bottom: 8px;
}

#register_button:hover {cursor: pointer; background: rgb(1,141,118); /* Old browsers */
background: -moz-linear-gradient(top, rgba(1,141,118,1) 0%, rgba(42,160,140,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,141,118,1)), color-stop(100%,rgba(42,160,140,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#018d76', endColorstr='#2aa08c',GradientType=0 ); /* IE6-9 */}

.form-control {
	border-left: 5px solid #42B4A1;
}

.pwd_info {line-height: 17px; margin-bottom: -5px; margin-top: 5px;}

/* Error Div */
#errors {
	margin-top: 6px;
}
#form-error {
	width: 100%;
	height: 30px;
	padding-top: 3px;
	line-height: 30px;
	background: rgba(150,0,0,0.8);
	color: #fff;
	text-align: center;
	margin-bottom: 2%;
}
 
#invalid-item {
	font-weight: 300;
	text-shadow: 0;
	font-size: 16px;
}

.login-direct {
	clear: both;
}