body {background: #fff; font-family: 'Quicksand', sans-serif;}

/* START MACROVUE TOUR */
#macrovue_tour {width: 100%; background: #fff; height: 250px; padding-top: 40px; font-size: 67px; font-weight: 700;
color: #003333; text-align: center;}
#tour_button {width: 560px; padding: 10px; text-align: center; background: #24a379; border-radius: 3px; color: #fff;
font-size: 41px; font-weight: 400; letter-spacing: 1px; margin: 30px auto; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s;}
#tour_button:hover {background: #238d6a; cursor: pointer}
/* END MACROVUE TOUR */

/* START MACROVUE QUOTE TAG */
#macrovue_tag {height: 450px; background: url('/static/images/landing_bg.png'); background-size: cover; border: 1px solid #24a379; border-right: 0; border-left: 0;}
#macrovue_tag_text {width: 800px; color: #003333; margin: 120px auto; font-size: 75px; font-weight: 700; letter-spacing: 1px;}
/* END MACROVUE QUOTE TAG */

/* START CONNECT BIT */
#connect {background: #33cc99; height: 250px; padding-top: 100px;}
#connect h1 {font-size: 50px; color: #fff; font-weight: 400;}
#connect h2 {font-size: 36px; color: #fff; letter-spacing: 1px; margin-top: 10px; font-weight: 300;}
.social_button {float: left; margin: 20px 30px 0 0; padding: 5px; border: 4px solid #33cc99; background: #fff; color: #33cc99; line-height: 30px; text-align: center;
-webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; height: 30px; width: 30px; border-radius: 30px; font-size: 20px;}
.social_button:hover {background: #003333; border: 4px solid #fff; color: #fff; cursor: pointer;}
/* END CONNECT BIT */

/* START RECENT ACTIVITY */
#recent_activity {min-height: 420px; padding-top: 40px; overflow: auto;}
.column {float: left;}
.column h3 {color: #38bb93; font-size: 21px; text-transform: uppercase; font-weight: 700; width: 70%; border-bottom: 1px solid #ddd; padding-bottom: 20px;}
.column1 {width: 26%; margin-right: 4%;}
.column2 {width: 26%; margin-right: 4%;}
.column3 {width: 40%;}
.recent_post {margin-top: 20px; font-family: "Lucida Grande", sans-serif}
.post_header {font-weight: 400; font-size: 16px; margin-top: 10px; color: #003333}
.post_content {font-size: 14px; margin-top: 10px; color: #707070; font-weight: 300;}
/* END RECENT ACTIVITY */

/* START CONTENT BREAK */
hr {
  font-family: Arial, sans-serif; /* choose the font you like */
  text-align: center; /* horizontal centering */
  line-height: 1px; /* vertical centering */
  height: 3px; /* gap between the lines */
  font-size: 1em; /* choose font size you like */
	border-bottom: 10px solid #003333;
	border-top: 4px solid #33cc99;
  /* ensure 1px gap between borders */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

hr:after {
  color: #999;
  display: inline; /* for vertical centering and background knockout */
}
/* END CONTENT BREAK */