/* SETTINGS TABS */
#single_vue_tabs {width: 1140px; height: 44px; margin: 0px auto; background: #c6c6c6; border: 1px solid #c6c6c6; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
.single_vue_tab {width: 570px; height: 42px; padding-top: 2px; float: left; line-height: 44px; text-align: center; color: #0d5c6b; font-size: 20px;}
.single_vue_tab:hover {box-shadow: inset 1px 0px 5px 2px rgba(0,0,0,0.1); cursor: pointer}
.single_vue_active_tab:hover {box-shadow: none; background: rgb(127,205,192); /* Old browsers */
background: -moz-linear-gradient(top, rgba(127,205,192,1) 0%, rgba(68,182,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,205,192,1)), color-stop(100%,rgba(68,182,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcdc0', endColorstr='#44b6a3',GradientType=0 ); /* IE6-9 */}
.single_vue_final_tab {width: 570px; margin-right: 0px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-top-left-radius: 0; border-bottom-left-radius: 0}
.single_vue_first_tab {border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0}
.single_vue_active_tab {color: #fff;}

/* SETTINGS PAGE */
.profile_settings {width: 1130px; margin: 20px auto; min-height: 500px; overflow: auto; background: #FFF; padding: 20px; line-height: 15px;}
.settings_row input[type="text"], .settings_row textarea {width: 85%; box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.05); padding: 10px; border: 1px solid #C0C0C0; font-size: 14px; float: right;}
.settings_row textarea {height: 30px; resize: none;}
#avatar {background: #FFF; border-radius: 50px; width: 50px; height: 50px; padding: 5px; margin-top: 10px; border: 1px solid #D0D0D0;}
#avatar img {width: 50px; height: 50px; border-radius: 50px;}
#avatar_block {margin: 20px 0px 0px 20px;}

.settings_row {height: 60px; line-height: 40px; font-size: 16px;}