/* START SINGLE VUE CSS */
#single_vue {width: 100%; margin-bottom: 20px; min-height: 600px; overflow: auto; background: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.15); box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.15); -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.15);}

/* START SINGLE VUE BASICS */
#single_vue_basics {width: 100%; height: 203px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; background: url('../images/macrovue2/single_vue_basics.png') top left repeat-x;}
#single_vue_basics_logo {width: 20%; float: left; height: 150px; overflow: hidden; position: relative; margin-top: 1%;}
#single_vue_basics_logo img {width: 210px; padding-top: 10px; padding-left: 10px; position: absolute; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px; margin: auto;}
#single_vue_basics_info {width: 49%; float: left; padding-left: 1%}
.single_vue_basics_name {font-size: 30px; color: #0d5c6b; font-weight: 300; margin-top: 10px; margin-bottom: 0}
.add_favourite {font-size: 24px; margin: 4px 0px 0px 10px;}
.add_favourite a:link, .add_favourite a:visited, .add_favourite a:active {color: #FCF590;}
.add_favourite:hover {color: #4CA0D9; cursor: pointer}
.single_vue_basics_desc {font-size: 12px; line-height: 16px; margin-top: 0px; width: 535px;}
#single_vue_basics_actions {width: 30%; float: left;}
#single_vue_basics_buttons {margin-top: 15px;}
#single_vue_basics_buttons button:active {box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);}
.green_button {width: 45%; margin-right: 4%; color: #fff; border: 1px solid #409f8f;}
.green_button:hover {cursor: pointer; background: rgb(1,141,118); /* Old browsers */
background: -moz-linear-gradient(top, rgba(1,141,118,1) 0%, rgba(42,160,140,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,141,118,1)), color-stop(100%,rgba(42,160,140,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#018d76', endColorstr='#2aa08c',GradientType=0 ); /* IE6-9 */}
.darkgreen_button {width: 45%; margin-right: 4%; color: #fff; border: 1px solid #03343d;}
.darkgreen_button:hover {cursor: pointer; box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);}
#bars {margin-top: 15px; background: #efefef;}
.bar {width: 82%; height: 30px; padding-left: 6%; padding-right: 6%; line-height: 30px; border: 1px solid #c6c6c6; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.bar_up {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.bar_down {border-top: 0; border-top-right-radius: 0; border-top-left-radius: 0;}
.circles {margin-top: 7px; margin-left: 38px;}
.average-circles {margin-top: 7px; margin-left: 18px;}
.circle {float: left; height: 15px; width: 15px; border-radius: 50px; margin-right: 7px;}
.circle_empty {background: #b7b7b7;}
.rate .circle_empty:hover {cursor: pointer; background: #6dc497; opacity: 0.7}
.circle_hover {cursor: pointer; background: #6dc497; opacity: 0.7}
.circle_full {background: #6dc497;}
.rate .circle_full:hover {cursor: pointer;}
/* END SINGLE VUE BASICS */

/* START SINGLE VUE TABS */
#single_vue_tabs {width: 1140px; height: 44px; margin: -22px auto; background: #c6c6c6; border: 1px solid #c6c6c6; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
.single_vue_tab {width: 284px; height: 42px; padding-top: 2px; margin-right: 1px; float: left; line-height: 44px; text-align: center; color: #0d5c6b; font-size: 20px;}
.single_vue_tab:hover {box-shadow: inset 1px 0px 5px 2px rgba(0,0,0,0.1); cursor: pointer}
.single_vue_active_tab:hover {box-shadow: none; background: rgb(127,205,192); /* Old browsers */
background: -moz-linear-gradient(top, rgba(127,205,192,1) 0%, rgba(68,182,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,205,192,1)), color-stop(100%,rgba(68,182,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcdc0', endColorstr='#44b6a3',GradientType=0 ); /* IE6-9 */}
.single_vue_final_tab {width: 285px; margin-right: 0px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-top-left-radius: 0; border-bottom-left-radius: 0}
.single_vue_first_tab {border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0}
.single_vue_active_tab {color: #fff;}
/* END SINGLE VUE TABS */

/* START SINGLE VUE FINANCIALS */
#single_vue_financials {width: 100%; height: 150px; padding-top: 40px; border-bottom: 1px solid #cfcfcf;}
.single_vue_stats {text-align: center; width: 210px; margin: 0 10px 0 10px; height: 140px; float: left;}
.single_vue_stat_header {font-size: 20px; margin-top: 15px; color: #1e9683; text-transform: uppercase; letter-spacing: 1px; font-weight: 300;}
.single_vue_stat_value {font-size: 60px; color: #6dc4a8; height: 80px;}
.single_vue_stat_value sup {font-size: 25px;}
.box_stocks {width: 100%; background: #F8F8F8; border: 1px solid #F0F0F0; height: 40px; padding: 10px; margin-top: 10px; margin-bottom: 10px;}
.box_stock_info {width: 4%; text-align: right; margin-right: 1%;}
/* END SINGLE VUE FINANCIALS */

/* START STOCK ADD BAR */
label {display: block;}
#stock_add_bar {width: 100%; height: 70px; line-height: 70px; background: #efefef;}
.stock_add_title {float: left; color: #0d5c6b; font-size: 22px; margin-left: 20px; width: 230px;}
.stock_add_box {float: left; margin-left: 50px; width: 840px; height: 45px; margin-top: 10px; border: 1px solid #c6c6c6; line-height: 45px; border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
.stock_added_stocks {float: left; width: 510px;}
.stock_added_stocks label {float: left; background: #393939; color: #fff; font-weight: 300; padding: 0 10px 0 10px; margin-left: 10px; height: 34px; letter-spacing: 1px; line-height: 34px; margin-top: 6px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.stock_added_stocks input:checked {background: #fff;}
.stocks_add_stocks_area {float: left: width: 310px;}
#add_stock_area {background: #fff url('../images/macrovue2/search-icon.png') top left no-repeat; background-position: 5px 10px; width: 215px; font-size: 15px; padding: 10px 10px 10px 35px; height: 25px; box-shadow: 0; border: 0; margin-top: 0px; border-left: 1px solid #c6c6c6; border-right: 1px solid #c6c6c6;}
.add_stock_button {width: 33px; height: 43px; color: #043943; font-size: 20px; padding: 2px 0px 0px 15px;}
.add_stock_button:hover {opacity: .8; cursor: pointer;}
.add_stock_button:active {margin-top: 1px;}
.vue_box_label {background: #0d5c6b !important;}
.index_box_label {background: #3FAFD1 !important;}
/* END STOCK ADD BAR */

/* START THE GRAPH */
.the_graph {width: 100%;}
.graph {height: 400px; width: 97%; margin: 10px auto;}
/* END THE GRAPH */

/* START THE CONTENT */
.tab_text {width: 1140px; margin: 30px auto;}
.tab_text p {margin-top: 0px; line-height: 23px; font-weight: 300; margin-bottom: 10px;}
.tab_text .title_first, .tab_text h1 {font-size: 36px; color: #0d5c6b; margin: 0px; line-height: 50px; font-weight: 400;}
.tab_text .title_second {font-size: 26px; color: #0d5c6b}
.tab_text .title_third {font-size: 16px; color: #0d5c6b}
.tab_text .content_first, .tab_text p {font-size: 15px; font-weight: 300;}
.tab_text .content_second {font-size: 14px;}
.tab_text .content_third {font-size: 13px;}
/* END THE CONTENT */

/* START STOCKS TABLE */
.stocks_list_table {background: #efefef; border: 1px solid #C0C0C0; border-right: 0; width: 1140px; margin: 40px auto; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
th {border-right: 1px solid #c0c0c0}
.stocks_list {width: 1140px; margin: -40px auto; margin-bottom: 20px; border: 1px solid #C0C0C0; border-top: 0; border-right: 0;}
.stocks_list tr {background: #fff;}
.stocks_list tr td {padding: 10px 0px 0px 10px; text-align: center; border-right: 1px solid #C0C0C0;}
.arrow_box {position: relative; border: 1px solid #c6c6c6; background: rgb(247,247,247); /* Old browsers */ background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
padding: 10px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.arrow_box:after, .arrow_box:before {bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow_box:after {border-color: rgba(249, 249, 249, 0); border-bottom-color: rgba(247,247,247,1); border-width: 10px; margin-left: -10px; }
.arrow_box:before {border-color: rgba(198, 198, 198, 0); border-bottom-color: #c6c6c6; border-width: 11px; margin-left: -11px; }
.gray-background {background: #f9f9f9 !important}
.stocks_notsignedin {margin-top: 40px !important; width: 1000px; margin: auto auto;}
/* END STOCKS TABLE */

/* START COMMENTS ROW */
.error_comment::-webkit-input-placeholder {color: #7D090B}
.comment_form {width: 98%; height: 50px; padding: 10px 1% 10px 1%; background: #efefef; margin-top: -15px;}
.comment_form_avatar {width: 75px; float: left; padding-left: 5px;}
.comment_form_avatar img {width: 50px; height: 50px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.comment_form_textbox {float: left; width: 1060px;}
.comment_form_textbox input[type="text"] {float: left; width: 950px; height: 25px; padding: 10px; font-size: 18px; border: 1px solid #C6C6C6; border-top-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-top-left-radius: 3px; -moz-border-bottom-left-radius: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.comment_form_addcomment {float: left; width: 65px; height: 44px; color: #0d5c6b; line-height: 45px; padding: 1px 0px 0px 20px; font-size: 20px; border: 1px solid #C6C6C6; border-left: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px; -moz-border-top-right-radius: 3px; -moz-border-bottom-right-radius: 3px; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; background: rgb(237,237,237); /* Old browsers */
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(220,220,220,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(220,220,220,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dcdcdc',GradientType=0 );}
.comment_form_addcomment:hover {cursor: pointer; box-shadow: inset 1px 1px 10px 2px rgba(0,0,0,0.1);}
#comments {background: #f0f0f0}
.comment_row {margin-top: 1px; width: 1150px; padding: 10px; min-height: 50px; overflow: auto; background: #fff;}
.comment_row:hover {background: #F8F8F8}
.comment_reply_row {width: 1140px; border-left: 10px solid #87D7DD;}
.comment_reply_reply_row {width: 1130px; border-left: 20px solid #78BFC4;}
.comment_row_avatar {float: left; width: 75px; padding-left: 5px;}
.comment_row_avatar img {width: 50px; height: 50px; padding-top: 6px;}
.comment_row_name {font-size: 19px; color: #0d5c6b}
.comment_row_content {float: left; width: 1050px; overflow: auto;}
.comment_row_options {color: #87D7DD}
/* END COMMENTS ROW */

/* START ADDING STOCKS */
#modal2 {width: 600px; background: #fff; min-height: 500px}
/* END ADDING STOCKS */

/* START SOCIAL FEATURES */
.tooltipsy {padding: 10px; max-width: 200px; color: #303030; background-color: #f5f5b5; border: 1px solid #deca7e;}
.social_links {margin-top: 10px}
.fb-like {margin: 2px 10px 0px 0px;}
.twitter-button {margin-top: 2px}
.linked_in {margin: 2px 0px 0px 10px}
/* END SOCIAL FEATURES */

/* START MODAL */
.modal-open {overflow: hidden; }
.modal {display: none; overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; -webkit-overflow-scrolling: touch; outline: 0; }
.modal.fade .modal-dialog {-webkit-transform: translate3d(0, -25%, 0); transform: translate3d(0, -25%, 0); -webkit-transition: -webkit-transform 0.3s ease-out; -moz-transition: -moz-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out; transition: transform 0.3s ease-out; }
.modal.in .modal-dialog { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.modal-open .modal { overflow-x: hidden; overflow-y: auto; }
.modal-dialog { position: relative; width: auto; margin: 10px; }
.modal-content { position: relative; background-color: #ffffff; border: 1px solid #999999; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); background-clip: padding-box; outline: 0; }
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000000; }
.modal-backdrop.fade { opacity: 0; filter: alpha(opacity=0); }
.modal-backdrop.in { opacity: 0.5; filter: alpha(opacity=50); }
.modal-header { padding: 15px; border-bottom: 1px solid #e5e5e5; min-height: 16.42857143px; }
.modal-header .close { margin-top: -2px; }
.modal-title { margin: 0; line-height: 1.42857143; }
.modal-body { position: relative; padding: 15px; }
.modal-footer { padding: 15px; text-align: right; border-top: 1px solid #e5e5e5; }
.modal-footer .btn + .btn { margin-left: 5px; margin-bottom: 0; }
.modal-footer .btn-group .btn + .btn { margin-left: -1px; }
.modal-footer .btn-block + .btn-block { margin-left: 0; }
.modal-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll; }
.hide { display: none !important; }
.show { display: block !important; }
.invisible { visibility: hidden; }
.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.hidden { display: none !important; visibility: hidden !important; }
.affix { position: fixed; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
/* END MODAL */

/* START MODAL STOCKS */
#edit_notloggedin_modal .modal-content {padding: 20px; min-height: 200px; width 300px; margin: auto auto;}
#buynow_modal .modal-content {padding: 20px; min-height: 100px; width: 400px; margin: auto auto;}
#add_stocks .modal-content {border-radius: 3px; min-height: 600px; overflow: auto;}
#edit_notloggedin_modal .modal-dialog, #buynow_modal .modal-dialog, #add_stocks .modal-dialog {width: 900px; margin: 100px auto;}
#add_stocks .rec_stocks {float: left; width: 259px; padding: 20px; min-height: 600px; border-right: 1px solid #F0F0F0; overflow: auto;}
#edit_notloggedin_modal h2, #buynow_modal h2, #add_stocks h2 {margin-bottom: 5px}
#add_stocks .add_stocks {float: left; width: 550px; padding: 20px; min-height: 600px; overflow: auto;}
#add_stocks .enter_ticker {float: left; width: 50%; padding: 10px; text-align: center; font-size: 14px; border: 1px solid #dfdfdf; background: #FCFCFC; text-align: left;}
#stock_add_display_modal {margin-top: 10px}
#add_stocks .add_stock_button {float: left; font-weight: 300; margin: 2px 0px 0px 10px; width: 120px; padding: 5px 10px 5px 40px; height: 27px; background: #42b4a1; border: 1px solid #258c7b; color: #fff;}
.stock_modal_row {width: 64%; margin-top: 10px; height: 50px; overflow: hidden; background: #FCFCFC; border: 1px solid #D9D9D9; border-radius: 3px; -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1); box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);}
.stock_modal_row_content {width: 439px; font-weight: 400; letter-spacing: 2px; color: #707070; font-size: 17px; line-height: 55px; height: 50px; min-height: inherit; padding: 0px 10px 0px 10px; float: left; border-right: 1px solid #D0D0D0;}
.stock_modal_row_plus {width: 90px; font-size: 45px; float: left; text-align: center; height: 50px; line-height: 55px; color: #202020;}
.stock_modal_row_plus:hover {cursor: pointer; box-shadow: inset 1px 1px 10px 2px rgba(0,0,0,0.1);}
.stock_modal_exists {margin-top: 10px; background: #FCFCFC; border: 1px solid #D9D9D9; height: 30px; line-height: 30px; padding: 10px 2% 10px 2%; width: 96%;  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1); box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1); -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);}
.stock_modal_exists h3 {font-weight: 400; color: #606060}
.close_modal {margin-top: 0px; font-size: 20px;}
.close_modal:hover {cursor: pointer}
#open-modal2 {width: 180px; margin: 15px 15px -25px 15px; float: right;}
#edit_notloggedin_modal .modal-dialog {width: 455px;}
/* END MODAL STOCKS */

/* Login Modal */
#modal-login .input-items {
	width: 400px;
}

#modal-login h2 {
	border-bottom: 1px solid #ccc; 
	padding-bottom: 3px; 
	margin-bottom: 15px;
}

#modal-login label {
	float: left;
	font-size: 17px; 
	font-weight: 400;
	line-height: 36px;
}

#modal-login .form-input {
	width: 60%;
	padding: 5px;
	float: right;
}

#modal-login .submit-button {
  float: right;
  border: 1px solid #409f8f;
  color: #fff;
  font-size: 17px;
  background: rgb(127,205,192); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,205,192,1) 0%, rgba(68,182,163,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,205,192,1)), color-stop(100%,rgba(68,182,163,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcdc0', endColorstr='#44b6a3',GradientType=0 ); /* IE6-9 */
}

#modal-login .submit-button:hover {
  cursor: pointer; background: rgb(1,141,118); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(1,141,118,1) 0%, rgba(42,160,140,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,141,118,1)), color-stop(100%,rgba(42,160,140,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(1,141,118,1) 0%,rgba(42,160,140,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#018d76', endColorstr='#2aa08c',GradientType=0 ); /* IE6-9 */
}

#modal-login .clear {
	height: 10px;
}

.create-account {
	clear: both;
	padding-top: 15px;
	font-weight: 300;
}