body {margin: 0; overflow: auto; background: url('../images/macrovue2/bg.png') top left repeat; min-width: 1200px; font-family: 'Fira Sans'; font-size: 14px;}

/* SHORTCUTS */
.float_left {float: left !important;}
.float_right {float: right !important;}
.text_left {text-align: left;}
.text_center {text-align: center;}
.text_right {text-align: right;}
.display_inline {display: inline;}
.clear {clear: both}
.display_none {display: none}
.dark_text, .dark_text a {color: #000}
.white_text, .white_text a {color: #FFF}
.strong_text {font-weight: 700;}
.normal_text {font-weight: 400;}
.light_text {font-weight: 300;}
.large_size_text {font-size: 30px;}
.medium_size_text {font-size: 20px;}
.normal_size_text {font-size: 14px;}
.small_size_text {font-size: 12px;}
.mtn_5 {margin-top: -5px;}
.mtn_10 {margin-top: -10px;}
.mtn_15 {margin-top: -15px;}
.mtn_20 {margin-top: -20px;}
.mt_5 {margin-top: 5px;}
.mt_10 {margin-top: 10px;}
.mt_15 {margin-top: 15px;}
.mt_20 {margin-top: 20px;}
.mb_5 {margin-bottom: 5px;}
.mb_10 {margin-bottom: 10px;}
.mb_15 {margin-bottom: 15px;}
.no_margin {margin: 0}
.no_radius {border-radius: 0;}
.fa-margin {margin-left: 3px;margin-right: 3px;}
.is_clickable {cursor: hand; cursor: pointer;}
ul, ol {margin-bottom: 0}
.error_message {margin-top: -13px; margin-bottom: 10px; font-weight: 400; font-size: 15px; color: #B04646; margin-left: 15px;}
.title {text-align: center; color: #0D5C6B; border-bottom: 1px solid #eee; padding-bottom: 3px; margin-bottom: 35px !important;}

/* HEADERS, PARAGRAPHS AND LINKS */
h1 {font-weight: 300; font-size: 30px; margin: 0;}
h2 {font-weight: 300; font-size: 20px; margin: 0;}
h3 {font-weight: 300; font-size: 16px; margin: 0;}
p {margin: 0; font-size: 16px;}
a {text-decoration: none; color: #3094a1}

/* BUTTONS */
button {min-width: 30px; height: 45px; overflow: auto; background: #fff; outline: 0; border: 0; font-size: 16px; padding: 10px 25px 10px 25px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

/* BACKGROUNDS */
.white_to_gray {background: rgb(237,237,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(220,220,220,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(220,220,220,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

.white_to_lightgray {background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}

.green_haze {background: rgb(127,205,192); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(127,205,192,1) 0%, rgba(68,182,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,205,192,1)), color-stop(100%,rgba(68,182,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(127,205,192,1) 0%,rgba(68,182,163,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcdc0', endColorstr='#44b6a3',GradientType=0 ); /* IE6-9 */
}

.darkgreen_haze {background: rgb(4,58,68); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(4,58,68,1) 0%, rgba(3,52,61,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,58,68,1)), color-stop(100%,rgba(3,52,61,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(4,58,68,1) 0%,rgba(3,52,61,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(4,58,68,1) 0%,rgba(3,52,61,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(4,58,68,1) 0%,rgba(3,52,61,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(4,58,68,1) 0%,rgba(3,52,61,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043a44', endColorstr='#03343d',GradientType=0 ); /* IE6-9 */
}

.gray_to_white {background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.gray_to_darkgray {background: rgb(236,236,236); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(236,236,236,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(236,236,236,1) 0%,rgba(219,219,219,1) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.darkgray_to_darkergray {
background: rgb(171,171,171); /* Old browsers */
background: -moz-linear-gradient(top, rgba(171,171,171,1) 0%, rgba(197,197,197,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(171,171,171,1)), color-stop(100%,rgba(197,197,197,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(171,171,171,1) 0%,rgba(197,197,197,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(171,171,171,1) 0%,rgba(197,197,197,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(171,171,171,1) 0%,rgba(197,197,197,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(171,171,171,1) 0%,rgba(197,197,197,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#c5c5c5',GradientType=0 ); /* IE6-9 */
}

/* LAYOUT */
.container {margin: auto auto; width: 1170px !important;}
#main-container {margin-top: 100px; min-height: 600px; overflow: auto;}

/* BEGIN TOP NAV BAR */
/*header {overflow: auto;}
#top_nav {width: 100%; height: 80px; background: url('../images/macrovue2/header_bg.png') top left repeat-x; position: fixed; z-index: 999; -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1); box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);}
#top_logo {float: left; margin-top: 10px; width: 230px;}
#top_menu {float: left; margin-left: 30px; width: 650px; padding-left: 40px; }
.top_menu_item {float: left; margin-right: 20px; font-size: 16px; color: #FFF; font-weight: 300; height: 80px; line-height: 80px; padding: 0px 20px 0px 20px;}
.top_menu_item:hover {background: rgba(0,0,0,0.3); cursor: pointer;}
#top_user_interface {float: left; width: 160px; padding: 0px 30px 0px 30px; height: 80px; line-height: 80px; font-size: 20px; font-weight: 300; background: rgba(0,0,0,0.3); color: #fff; }
#top_user_interface:hover {cursor: pointer; background: rgba(0,0,0,0.4);}
.dropit {list-style: none; padding: 0; margin: 0;}
.dropit .dropit-trigger {position: relative; }
.dropit .dropit-submenu {position: absolute; top: 100%; right: 0; z-index: 1000; display: none; min-width: 150px; list-style: none; padding: 0; margin: 0;}
.dropit .dropit-open .dropit-submenu {display: block;}
#dropdown_options {margin-top: 80px; background: #022a32}
#dropdown_options > a > li {padding: 5px 20px 5px 20px;}
#dropdown_options > a:link, #dropdown_options > a:visited, #dropdown_options > a:active {color: #fefefe; font-weight: 300; text-decoration: none}
#dropdown_options > a > li:hover {background: rgba(0,0,0,0.3);}
.menu > li > a {text-decoration: none; color: #fff;}


.submenu2-dropdown {background: #022a32; left: 0px !important; margin-top: 80px !important; margin-left: 0px !important; width: 160px;}
.submenu2-dropdown li {padding: 5px 20px; line-height: 20px !important;}
.submenu2-dropdown li:hover {background: rgba(0,0,0,0.2);}
.submenu2-dropdown a {text-decoration: none; color: #fff; font-weight: 300;}

.submenu-dropdown {background: #022a32; left: 0px !important; margin-top: 80px !important; margin-left: 138px !important; width: 160px;}
.submenu-dropdown li {padding: 5px 20px; line-height: 20px !important;}
.submenu-dropdown li:hover {background: rgba(0,0,0,0.2);}
.submenu-dropdown a {text-decoration: none; color: #fff; font-weight: 300;}*/
/* END TOP NAV BAR */


/* BEGIN SECOND NAV BAR */
nav {overflow: auto; margin-top: 80px;}
#second_nav {width: 100%; height: 30px; background: #42b4a1; padding-top: 3px; color: #073d45; border-bottom: 1px solid #258c7b; line-height: 30px; font-size: 15px;}
#second_nav a:link, #second_nav a:active, #second_nav a:visited {color: #073d45; text-decoration: none;}
#second_nav a:hover {color: #052b31; text-decoration: underline}
/* END SECOND NAV BAR */

/* BEGIN THE FOOTER */
#footer {border-top: 7px solid #42b4a1; background: #f4f4f4; margin-top: 20px; padding: 20px 0px 20px 0px;}
#footer_content {font-weight: 300; letter-spacing: 1px; font-size: 12px;}
/* END THE FOOTER */

/* BEGIN THE FAQ */
.question {font-size: 16px; font-weight: 300; margin-bottom: 10px;}
/* END THE FAQ */

/* BEGIN THE BLOG */
.blog_entry {padding: 10px; margin-top: 15px;}
.entry_body {font-size: 13px; font-weight: 300}
.entry-list-entry {background: #fff; padding: 20px; border-bottom: 1px solid #F0F0F0;}
/* END THE BLOG */

.error_message {margin-top: 0px;}
