{% extends "zinnia/base.html" %}
{% load i18n zinnia_tags comments %}
{% load staticfiles %}

{% block title %}{% trans "Comment preview" %}{% endblock title %}
{% block body-class %}comment-preview{% endblock body-class %}
{% block content %} 
  <link rel="stylesheet" type="text/css" href="{% static "css/blog-post.css" %}" />
  {% if form.errors %}
  <h2>{% blocktrans count errors=form.errors|length %}Please correct following error.{% plural %}Please correct following errors.{% endblocktrans %}</h2>
  {% else %}
  <h2>{% trans "Preview Comment" %}</h2>
  <ul id="comment-list">
    {% with comment=form.get_comment_object %}
    <li id="comment-preview" class="comment vcard box1">
    <div class="comment-author">
      <p class="comment-info">
	{% if comment.url %}
	<a href="{{ comment.url }}" rel="external nofollow"
           class="fn url">{{ comment.name }}</a>
	{% else %}
	{{ comment.name }}
	{% endif %}
      </p>
      <p class="comment-published" title="{{ comment.submit_date|date:"c" }}">
          {{ comment.submit_date }}
          </p>
      </div>
      <div class="comment-body">
      		  		
	  		{{ comment.comment|linebreaks }}
	  		<p class="clr"></p>
      </div>
    </li>
    {% endwith %}
  </ul>
  <div class="clr"></div>
  {% endif %}
  <script> 
  		$(document).ready(function(){
  			$('textarea').attr("cols", 100);
  		});
  </script>
  {% include "comments/zinnia/entry/form.html" %}
{% endblock content %}
