<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
    	<title>
    		{% block title %}{% endblock %}
    	</title>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta content="" name="description"/>
    	<meta content="" name="author"/>
		{% load staticfiles %}
    	<meta property="og:image" content="{% static "images/logo_cropped.png" %}" />
		<!-- Fira Sans Google Font -->
<!-- 		<link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700' rel='stylesheet' type='text/css'> -->
		<!-- <link rel="stylesheet" href="http://code.cdn.mozilla.net/fonts/fira.css"> -->
		<link rel="stylesheet" href="{% static "css/fira.css" %}">
		<!-- LEAVE FOR FAVICON -->
		<link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
		<!-- Site CSS -->
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
 		<!-- Latest jQuery -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<!-- The jQuery Custom CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "jquery-ui/jquery-ui-1.10.3.custom.min.css" %}">
		<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}" type="text/javascript"></script/>
		<script src="{% static "js/jquery.blockui.min.js" %}" type="text/javascript"></script/>
		<script type="text/javascript" src="{% static "js/main.js" %}"></script>
		<!-- Tooltips -->
		<script src="{% static "js/tooltipsy.min.js" %}" type="text/javascript"></script>
		<!-- The legendary FontAwesome -->
		<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
		<!--[if lt IE 9]>
		<script src="assets/js/respond.min.js"></script>
		<script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		<!-- The Dropdown Box -->
		<script src="{% static "js/dropit.js" %}" type="text/javascript"></script>
		<!-- The Modals -->
		<script type="text/javascript" src="{% static "js/modal.js" %}"></script>
		<script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.menu').dropit();
				$('.submenu').dropit();
			});
		</script>
	</head>
	<body>
		<header>
			<div id="top_nav">
				<div class="container">
					<div id="top_logo">
						<a href="/"><img src="{% static "images/macrovue2/logo.png" %}" /></a>
					</div>
					<div id="top_menu">
						<ul class="menu">
							<li>
								<a href="#"><div class="top_menu_item">Vues  <i class="fa fa-angle-down"></i></div></a>
								<ul class="submenu2-dropdown">
        	            			<a href="/existing_vues"><li>By Macrovue</li></a>
        	            			<a href="/users_vues"><li>By Users</li></a>
        	            			<a href="/create_vue"><li>Create Your Own</li></a>
            	      			</ul>
                  			</li>
                  		</ul>
						{% if user.is_authenticated %}
						<ul class="menu">
							<li>
								<a href="#"><div class="top_menu_item">My Account  <i class="fa fa-angle-down"></i></div></a>
								<ul class="submenu-dropdown">
        	            			<a href="/favourites"><li>Favourites</li></a>
        	            			<a href="/customvues"><li>Custom Vues</li></a>
        	            			<a href="/portfolio"><li>Portfolio</li></a>
        	            			<a href="/orders"><li>Orders</li></a>
        	            			<a href="/statements"><li>Statements</li></a>
        	            			<a href="/transactions"><li>Transactions</li></a>
            	      			</ul>
                  			</li>
                  		</ul>
                  		{% endif %}
						<a href="/faq"><div class="top_menu_item">
							FAQ
						</div></a>
						<a href="/about"><div class="top_menu_item"> 
							About
						</div></a>
						<a href="/blog"><div class="top_menu_item no_margin">
							Blog
						</div></a>
					</div>
					{% if user.is_authenticated %}
					<ul class="menu float_left">
						<li>
							<a href="#">
								<div id="top_user_interface">
									{% if user.is_authenticated %}{{ user.username }}{% else %}Register{% endif %}
									<div class="float_right">
										<i class="fa fa-angle-down"></i>
									</div>
								</div>
							</a>
							<ul id="dropdown_options">
								<a href="/profile/{{ user.username }}"><li>Your Profile</li></a>
								<a href="/settings"><li>Your Settings</li></a>
								
								<!--<a href="#"><li>Buy Some Stocks</li></a>
								<a href="#"><li>Sell Some Stocks</li></a>
								<a href="#"><li>Build a custom vue</li></a>-->
								<a href="/logout"><li>Logout</li></a>
							</ul>
						</li>
					</ul>
					{% else %}
					<a href="/login/">
						<div class="float_right sign-up">
							Login
						</div>
					</a>
					<a href="/register/">
						<div class="float_right sign-up">
							Sign Up
						</div>
					</a>					
					{% endif %}
				</div>
			</div>
		</header>
		<nav class="display_none">
			<div id="second_nav">
				<div class="container">
					{% if breadcrumbs.1 %}
						<a href="{% if breadcrumbs.url3 %}{% url breadcrumbs.url1 %}{% endif %}">{{ breadcrumbs.1 }}</a> &nbsp; 
					{% endif %}
					{% if breadcrumbs.2 %}
						> &nbsp; <a href="{% if breadcrumbs.url3 %}{% url breadcrumbs.url2 %}{% endif %}">{{ breadcrumbs.2 }}</a>
					{% endif %}
					{% if breadcrumbs.3 %}
						> &nbsp; <a href="{% if breadcrumbs.url3 %}{% url breadcrumbs.url3 %}{% endif %}">{{ breadcrumbs.3 }}</a>
					{% endif %}
					{% if breadcrumbs.4 %}
						> &nbsp; <a href="{% if breadcrumbs.url3 %}{% url breadcrumbs.url4 %}{% endif %}">{{ breadcrumbs.4 }}</a>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="clear"></div>
		<div class="container" id="main-container">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			<div class="container" id="footer_content"><h1>Macrovue Information</h1>
				Macrovue Pty Ltd (ABN 98 600 022 679) is a Corporate Authorised Representative (No. XXXXXXX) of InvestSMART Financial Services Pty Ltd (AFS License No. 226435). Please read our Financial Services Guide which provides you information about us and services we provide. 
				The information on this site has been prepared without taking account of the objectives, financial situation or needs of any particular individual. For this reason, any individual should, before acting on the information on this site, consider the appropriateness of the information, having regard to the individual’s objectives, financial situation and needs and, if necessary, seek appropriate professional advice. 
				Macrovue Pty Ltd is not authorised to carry on business in any other jurisdiction. Accordingly, the information contained in this Internet site is directed to and available for Australian residents only.
				Investment in securities involves risk. Share prices rise and fall. The payment of dividends and the return of capital are not guaranteed. Past performance is not indicative of future performance. 
			<br /><br />&copy; MacroVue 2014
			</div>
		</div>
	</body>
</html>