<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} | MacroVue</title>
    {% load staticfiles %}
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
          filter: none;
        }
      </style>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
      <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52403356-1', 'auto');
    ga('send', 'pageview');

  </script>
  </head>
  <body>
    <div id="loader" class="overlay">
      <img src="{{ STATIC_URL }}images/loader.gif" class="loading-image"><span>Loading...</span>
    </div>
    <div class="main_container">
      {% for message in messages %}
        {% if 'success' in message.tags %}
          <p class="text-success">{{ message }}</p>
        {% endif %}
        {% if 'error' in message.tags %}
          <p class="text-error">{{ message }}</p>
        {% endif %}
      {% endfor %}

      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>&copy; 2014 macrovue.com.au ALL RIGHTS RESERVED.</p>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/transition.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/modal.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
  </body>
</html>
