<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
    	<title>
    		{% block title %}{% endblock %}
    	</title>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta content="" name="description"/>
    	<meta content="" name="author"/>
		{% load staticfiles %}
		<!-- Fira Sans Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700' rel='stylesheet' type='text/css'>
		<!-- LEAVE FOR FAVICON -->
		<link rel="shortcut icon" href="favicon.ico"/>
		<!-- Site CSS -->
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
 		<!-- Latest jQuery -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<!-- The jQuery Custom CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "jquery-ui/jquery-ui-1.10.3.custom.min.css" %}">
		<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}" type="text/javascript"></script>
		<script src="{% static "js/jquery.blockui.min.js" %}" type="text/javascript"></script>
		<!-- Tooltips -->
		<script src="{% static "js/tooltipsy.min.js" %}" type="text/javascript"></script>		
		<!-- The legendary FontAwesome -->
		<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
		<!--[if lt IE 9]>
		<script src="assets/js/respond.min.js"></script>
		<script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		<!-- The Dropdown Box -->
		<script src="{% static "js/dropit.js" %}" type="text/javascript"></script>
		<link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<header>
			<div id="top_nav">
				<div class="container">
					<div id="top_logo">
						<a href="/"><img src="{% static "images/macrovue2/logo.png" %}" /></a>
					</div>
					<div id="top_menu">
						<a href="/existing_vues"><div class="top_menu_item">
							Existing Vues
						</div></a>
						<a href="/faq"><div class="top_menu_item">
							FAQ
						</div></a>
						<a href="/about"><div class="top_menu_item no_margin">
							About
						</div></a>
						<a href="/blog"><div class="top_menu_item no_margin">
							Blog
						</div></a>
					</div>
					<a href="/login/">
						<div class="float_right sign-up">
							Login
						</div>
					</a>
					<a href="/register/">
						<div class="float_right sign-up">
							Sign Up
						</div>
					</a>
				</div>
			</div>
		</header>
		<div class="container" id="main-container" style="padding-top: 80px">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			<div class="container" id="footer_content"><h1>Macrovue Information</h1>
				Macrovue Pty Ltd (ABN 98 600 022 679) is a Corporate Authorised Representative (No. XXXXXXX) of InvestSMART Financial Services Pty Ltd (AFS License No. 226435). Please read our Financial Services Guide which provides you information about us and services we provide. 
				The information on this site has been prepared without taking account of the objectives, financial situation or needs of any particular individual. For this reason, any individual should, before acting on the information on this site, consider the appropriateness of the information, having regard to the individual’s objectives, financial situation and needs and, if necessary, seek appropriate professional advice. 
				Macrovue Pty Ltd is not authorised to carry on business in any other jurisdiction. Accordingly, the information contained in this Internet site is directed to and available for Australian residents only.
				Investment in securities involves risk. Share prices rise and fall. The payment of dividends and the return of capital are not guaranteed. Past performance is not indicative of future performance. 
			<br /><br />&copy; MacroVue 2014
			</div>
		</div>
	</body>
</html>