<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
    	<title>
    		{% block title %}{% endblock %}
    	</title>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta content="" name="description"/>
    	<meta content="" name="author"/>
		{% load staticfiles %}
		<!-- Fira Sans Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
		<!-- LEAVE FOR FAVICON -->
		<link rel="shortcut icon" href="favicon.ico"/>
		<!-- Site CSS -->
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
 		<!-- Latest jQuery -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<!-- The jQuery Custom CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "jquery-ui/jquery-ui-1.10.3.custom.min.css" %}">
		<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}" type="text/javascript"></script>
		<script src="{% static "js/jquery.blockui.min.js" %}" type="text/javascript"></script>
		<!-- Tooltips -->
		<script src="{% static "js/tooltipsy.min.js" %}" type="text/javascript"></script>		
		<!-- The legendary FontAwesome -->
		<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
		<!--[if lt IE 9]>
		<script src="assets/js/respond.min.js"></script>
		<script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		<!-- The Dropdown Box -->
		<script src="{% static "js/dropit.js" %}" type="text/javascript"></script>
		<link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<header>
			<div id="top_nav">
				<div class="container">
					<div id="top_logo">
						<a href="/"><img src="{% static "images/macrovue2/logo.png" %}" /></a>
					</div>
					<div id="top_menu">
						<div class="top_menu_item">
							<a href="/existing_vues">Existing Vues</a>
						</div></a>
						<div class="top_menu_item">
							<a href="/faq">FAQ</a>
						</div>
						<div class="top_menu_item no_margin">
							<a href="/about">About</a>
						</div>
						<div class="top_menu_item no_margin">
							<a href="/blog">Blog</a>
						</div>
					</div>					
					<div class="float_right connect_button">
						<a href="/login/">CONNECT</a>
					</div>
					<div class="float_right sign-up">
						<a href="/register/">LOGIN</a>
					</div>
				</div>
			</div>
		</header>
		<div style="padding-top: 41px">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			<div class="container">
				<div id="footer_logo">
					<a href="/"><img src="{% static "images/macrovue2/logo.png" %}" /></a>
				</div>
			</div>
		</div>
	</body>
</html>