<!DOCTYPE html>
<html>
  <body>
  Hi {{ username }},<br /><br />
  Welcome to <a href="https://macrovue.com.au">Macrovue</a>. Before you can continue, please activate
  your account <a href="https://macrovue.com.au">here</a>.<br /><br />
  Thank you!
  </body>
</html>