{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MacroVue - Login{% endblock %}
{% block content %}
<link href="{% static "css/login.css" %}" rel="stylesheet" type="text/css"/>
  
<div class="container">
  <div id="login-box">
    <!-- Begin login form -->
<div class="content">
  <h1 class="no_margin"> Login </h1>

{% if messages %}{% for message in messages %}
<div class="error_message"> - {{ message }}</div>
{% endfor %}{% endif %}

  <!-- BEGIN LOGIN FORM -->
  <form class="login-form" action="/login/" method="post">
    {% csrf_token %}
    <div class="username-field">
      <label class="input-labels">Username:</label>
        <input class="form-input" type="text" name="username" id="username">
    </div>
    <div class="password-field">
      <label class="input-labels">Password:</label>
        <input class="form-input" type="password" name="password" id="password">
    </div>
    <div class="button-field">
      <button type="submit" class="submit-button">
        Login
      </button>
    </div>
    <div class="create-account">
      <p> Don't have an account? <a href="/register/">Create an account here</a></p>
    </div>
  </form>
  <!-- END LOGIN FORM -->
  </div>
</div>
</div>
{% endblock %}