{% extends "base.html" %}
{% load mathfilters %}
{% load humanize %}
{% load staticfiles %}

{% block title %}MacroVue - {{ profile.username }}s Profile{% endblock %}

{% load app_filters %}
{% load comments %}

{% block content %}

<script src="{% static "js/profiles.js" %}" type="text/javascript"></script>
<link href="{% static "css/profiles.css" %}" rel="stylesheet" type="text/css"/>

<div class="container">
	<div id="profile_left_container">
		<div id="profile_left_avatar">
			<img src="{{ profile.get_profile.get_avatar }}" /><br />
			<div id="profile_username">{{ profile.username }}</div>
		</div>
		<div id="profile_quote">
			{{ profile_info.biography }}
		</div>
		<div id="profile_stats">
			<div class="profile_stat_text">Custom Vues</div><div class="profile_stat_value">19</div>
			<div class="profile_stat_text">Comments on Vues</div><div class="profile_stat_value">198</div>
			<div class="profile_stat_text">Macrovue Friends</div><div class="profile_stat_value">372</div>			
		</div><div class="clear"></div>
		<div id="profile_social">
			<div id="add_friend">
				Add Friend
			</div>
			<div id="view_vues">
				View Vues
			</div><div class="clear"></div>
			<img src="{% static "images/facebook.png" %}">
			<img src="{% static "images/twitter.png" %}">
			<img src="{% static "images/linkedin.png" %}">
		</div>
	</div>
	<div id="profile_right_container">
		<div id="profile_menu">
			<div class="profile_menu_option" id="tab1">
				My Portfolio
			</div>
			<div class="profile_menu_option active" id="tab2">
				My Vues
			</div>
			<div class="profile_menu_option" id="tab3">
				Social Feed
			</div>
		</div>
		<div class="clear"></div>
		<div id="profile_content_2" class="profile_content">
			{% for vue in vues %}
			{% for financial in vue_financial_data %}
			{% if financial.vue_id == vue.id %}
			<a href="/vues/{{ vue.name.split|join:"-" }}">
				<div class="existing_vue_default" id="vue{{ vue.id }}">
					<div class="existing_vue_info" style="background: url('{{vue.background}}');">
						<div class="existing_vue_title">
							{{ vue.name }}
						</div>
					</div>
					<div class="existing_vue_return">
						<span class="float_left" style="font-size: 16px; padding-top: 18px; padding-left: 10px;">One month return </span>
						{% if financial.one_mo_return > 0 %}
							<span class="green_return float_right" style="padding-right: 10px;"><i class="fa fa-arrow-up" style="font-size: 26px;"></i>
						{% elif financial.one_mo_return < 0 %}
							<span class="red_return float_right" style="padding-right: 10px;"><i class="fa fa-arrow-down" style="font-size: 26px;"></i>
						{% else %}
							<span class="neutral_return float_right" style="padding-right: 10px;"> -- 
						{% endif %}
						{{ financial.one_mo_return }}%</span>
					</div>
				</div>
			</a>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}