{% extends "base.html" %}
{% load staticfiles %}


{% block title %}MacroVue - Registration{% endblock %}

{% block content %}
<link href="{% static "css/register.css" %}" rel="stylesheet" type="text/css"/> 
<script type="text/javascript" src="{% static "js/register.js" %}"></script>

	<div class="container">
		<div id="form-box">
			<h1>Register</h1>
			<form class="register-form" action="/register-submit/" method="POST">
				{% csrf_token %}
				{% for option in form %}
					<div class="input-items">
						{% if option.label == "Password" %}
							Password: <input id="password1" name="password1" type="password" /><br />
							<div class="small_size_text pwd_info">Your password must be at least 8 characters long and includes a capital letter, a number and a symbol.</div>
						{% elif option.label == "Repeat your password" %}
							Repeat your password: <input id="password2" name="password2" type="password" /><br />
						{% else %}
							{{ option.label }}: {{ option }}<br />
						{% endif %}
					</div><div class="clear"></div>
				{% endfor %}
				<div id="errors"></div>
				<div class="form-group">
					<button type="submit" id="register_button">Register</button>
				</div>	
				<p class="login-direct">Already have an account? <a href="/login/">Click here to log in</a></p>	
			</form>
		</div>
	</div>
{% endblock %}
