{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load form_filters %}

{% block title %}MacroVue - User Settings{% endblock %}

{% load app_filters %}

{% block content %}

<script src="{% static "js/settings.js" %}" type="text/javascript"></script>
<link href="{% static "css/settings.css" %}" rel="stylesheet" type="text/css"/>

	<div id="single_vue_tabs">
		<div class="single_vue_tab green_haze white_to_gray single_vue_first_tab single_vue_active_tab" id="tab1">
			Profile Settings
		</div>
		<div class="single_vue_tab white_to_gray single_vue_final_tab" id="tab2">
			Investor Settings
		</div>
	</div><div class="clear"></div>
	
	<div class="container">
		<div class="profile_settings" id="content_tab1">
			<form action="settings" enctype="multipart/form-data" method="POST" id="create_vue">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for key, value in form.errors.items %}
				{{ value }}
			{% endfor %}
								
				<div class="settings_row">
				First Name:<input id="id_first_name" name="first_name" placeholder="Enter your first name" type="text" value="{{ profile.first_name }}" /><br />
				</div>

				<div class="settings_row">
				Last Name:<input id="id_last_name" name="last_name" placeholder="Enter your last name" type="text" value="{{ profile.last_name }}" />
				</div>

				
				<div class="settings_row">
					Email:
					<input id="id_email" name="email" placeholder="Enter your email" type="text" value="{{ profile.email }}" />
				</div>
				
				<div class="settings_row">
				Facebook Link:<input id="id_facebook" name="facebook" placeholder="Enter your Facebook profile link here" type="text" value="{{ profile.facebook }}" />
				</div>
				
				<div class="settings_row">
				Twitter Handle:<input id="id_twitter" name="twitter" placeholder="Enter your Twitter profile link here" type="text" value="{{ profile.twitter }}" />
				</div>
				
				<div class="settings_row">
				LinkedIn Link:<input id="id_linkedin" name="linkedin" placeholder="Enter your Linkedin profile link here" type="text" value="{{ profile.linkedin }}" />
				</div>
				
				<div class="settings_row">
				Biography:
				<textarea id="id_biography" name="biography" placeholder="Enter your biography here" maxlength="140">{{ profile.biography }}</textarea>
				<div class="clear"></div><div class="float_right"><span id="bio_counter">{{ profile.biography|length }}</span>/140</div>
				</div>
				
				<br />
				<div class="float_left" id="avatar">
					<img src="{{ profile.get_avatar }}" />
				</div>
				<div class="float_left" id="avatar_block">
				Currently: <a href="{{ profile.get_avatar }}">{{ profile.get_avatar }}</a> :<input id="avatar-clear_id" name="avatar-clear" type="checkbox" /> <label for="avatar-clear_id">Clear</label><br />Change: :<input id="id_avatar" name="avatar" type="file" />
				</div><div class="clear"></div><br />
				<button class="green_button green_haze float_right" type="submit">Update Settings</div>
			</form>
		</div>
		<div class="profile_settings display_none" id="content_tab2">
			Test
		</div>
	</div>

{% endblock %}